// -----------------------------------------------------------------------------
//   Base Symfony VarDumper code block partial
// -----------------------------------------------------------------------------

// @see https://github.com/symfony/var-dumper

@at-root {
  @include vertical-spacing-against-previous('.sf-dump.sf-dump');
}

.sf-dump.sf-dump {
  // Remove the default vertical margins, as we provide our own.
  margin-top:     0;
  margin-bottom:  0;

  padding: $code-highlighted-block-body-padding;

  border-radius: $code-highlighted-border-radius;

  // By default, this is set to a fixed, small size, so set it to a percentage
  // to inherit responsive font scaling. 100% feels a bit too big here, so we're
  // going with 90%.
  font-size: 90%;

  // Symbols are not wrapped in anything, so by setting the default colour to
  // the symbol and overriding that on specific elements has almost the same
  // effect.
  @include set-colours(
    $background:  $code-highlighted-background-colour-on-light,
    $foreground-on-dark:  $code-highlighted-colour-symbol,
    $foreground-on-light: $code-highlighted-colour-symbol
  );

  @include on-dark-colour-scheme {
    @include set-colours(
      $background:  $code-highlighted-background-colour-on-dark,
      $foreground-on-dark:  $code-highlighted-colour-symbol,
      $foreground-on-light: $code-highlighted-colour-symbol
    );
  }

  .sf-dump-str,
  .sf-dump-key {
    color: $code-highlighted-colour-string;
  }

  .sf-dump-note {
    color: $code-highlighted-colour-keyword;

    font-style: italic;
  }

  .sf-dump-index {
    color: $code-highlighted-colour-number;
  }

  .sf-dump-public,
  .sf-dump-protected,
  .sf-dump-private {
    color: $code-highlighted-colour-method;
  }

  .sf-dump-const {
    color: $code-highlighted-colour-reserved-word;
  }
}
