// -----------------------------------------------------------------------------
//   Base code block partial
// -----------------------------------------------------------------------------

///
/// Highlighted code background colour.
///
$code-highlighted-background-colour:  black !default;

///
/// Highlighted code header background colour.
///
$code-highlighted-header-background-colour:
  lighten($code-highlighted-background-colour, 10%) !default;

///
/// Highlighted code title padding.
///
$code-highlighted-block-title-padding:
  ($general-spacing * 0.7) $general-spacing !default;

///
/// Highlighted code body padding.
///
$code-highlighted-block-body-padding: $general-spacing !default;

///
/// Highlighted code border-radius.
///
$code-highlighted-border-radius: $material-border-radius !default;

///
/// Highlighted code string colour.
///
/// @link https://www.monokai.pro/
///   From Monokai colour scheme.
///
$code-highlighted-colour-string: #e7b248 !default;

///
/// Highlighted code symbol colour.
///
/// @link https://www.monokai.pro/
///   From Monokai colour scheme.
///
$code-highlighted-colour-symbol: #f92468 !default;

///
/// Highlighted code number colour.
///
/// @link https://www.monokai.pro/
///   From Monokai colour scheme.
///
$code-highlighted-colour-number: #ac80ff !default;

///
/// Highlighted code keyword colour.
///
/// @link https://www.monokai.pro/
///   From Monokai colour scheme.
///
$code-highlighted-colour-keyword: #67d8ef !default;

///
/// Highlighted code reserved word colour.
///
/// @link https://github.com/equinusocio/material-theme
///   Inspired by the Material Theme for Sublime Text.
$code-highlighted-colour-reserved-word: #89ddff !default;

///
/// Highlighted code method colour.
///
/// @link https://www.monokai.pro/
///   From Monokai colour scheme.
$code-highlighted-colour-method: #a6ce28 !default;

@at-root {
  @include vertical-spacing-against-previous('.code-highlighted');
}
.code-highlighted {
  // Header, displaying the human name of the code language.
  &__heading {
    margin:       0;
    padding:      $code-highlighted-block-title-padding;

    @include set-colours(
      $background:      $code-highlighted-header-background-colour
    );

    border-top-left-radius:   $code-highlighted-border-radius;
    border-top-right-radius:  $code-highlighted-border-radius;

    // Reset line height to get a bit less vertical spacing.
    line-height:    1;
  }

  // The <pre> element containing all of the source code.
  &__code {
    // Reset any browser default margins.
    margin:   0;
    padding:  $code-highlighted-block-body-padding;

    @include set-colours(
      $background:  $code-highlighted-background-colour
    );

    border-bottom-left-radius:  $code-highlighted-border-radius;
    border-bottom-right-radius: $code-highlighted-border-radius;

    overflow-x:     auto;

    white-space:    pre;
  }

  &__comment {
    opacity: 0.6;
  }

  &__symbol {
    color: $code-highlighted-colour-symbol;
  }

  &__string {
    color: $code-highlighted-colour-string;
  }

  &__number {
    color: $code-highlighted-colour-number;
  }

  &__keyword {
    color: $code-highlighted-colour-keyword;

    font-style: italic;
  }

  &__reserved-word {
    color: $code-highlighted-colour-reserved-word;
  }

  &__method {
    color: $code-highlighted-colour-method;
  }
}
