// -----------------------------------------------------------------------------
//   Base code block partial
// -----------------------------------------------------------------------------

///
/// Highlighted code background colour.
///
$code-highlighted-background-colour:  black !default;

///
/// Highlighted code header background colour.
///
$code-highlighted-header-background-colour:
  lighten($code-highlighted-background-colour, 10%) !default;

///
/// Highlighted code title padding.
///
$code-highlighted-block-title-padding:
  ($general-spacing * 0.7) $general-spacing !default;

///
/// Highlighted code body padding.
///
$code-highlighted-block-body-padding: $general-spacing !default;

///
/// Highlighted code border-radius.
///
$code-highlighted-border-radius: $material-border-radius !default;

// Highlighted code block.
@at-root {
  @include vertical-spacing-against-previous('.code-highlighted');
}
.code-highlighted {
  // Header, displaying the human name of the code language.
  &__heading {
    margin:       0;
    padding:      $code-highlighted-block-title-padding;

    @include set-colours(
      $background:      $code-highlighted-header-background-colour
    );

    border-top-left-radius:   $code-highlighted-border-radius;
    border-top-right-radius:  $code-highlighted-border-radius;

    // Reset line height to get a bit less vertical spacing.
    line-height:    1;
  }

  // The <pre> element containing all of the source code.
  &__code {
    // Reset any browser default margins.
    margin:   0;
    padding:  $code-highlighted-block-body-padding;

    @include set-colours(
      $background:  $code-highlighted-background-colour
    );

    border-bottom-left-radius:  $material-border-radius;
    border-bottom-right-radius: $material-border-radius;

    overflow-x:     auto;

    white-space:    pre;
  }

  // Comment.
  &__comment {
    opacity: 0.6;
  }

  // String.
  &__string {
    color: $code-highlighted-colour-string;
  }

  // Number.
  &__number {
    color: $code-highlighted-colour-number;
  }

  // Keyword.
  &__keyword {
    color: $code-highlighted-colour-keyword;
  }

  // Reserved word.
  &__reserved-word {
    color: $code-highlighted-colour-reserved-word;
  }
}
