// -----------------------------------------------------------------------------
//   Base code block partial
// -----------------------------------------------------------------------------

@use '../global/layout.vertical_spacing' as vertical-spacing;
@use 'material.common/material.general' as material-general;
@use 'sass:color';
@use 'sass/helpers/colour';
@use 'sass/variables/general';

///
/// Highlighted code background colour on light backgrounds.
///
$code-highlighted-background-colour-on-light:
  colour.$background-colour-dark !default;

///
/// Highlighted code background colour on dark backgrounds.
///
$code-highlighted-background-colour-on-dark: color.mix(
  colour.$foreground-colour-on-dark, colour.$background-colour-dark, 10%
) !default;

///
/// Highlighted code header background colour on light backgrounds.
///
$code-highlighted-header-background-colour-on-light: color.mix(
  colour.$foreground-colour-on-dark, colour.$background-colour-dark, 30%
) !default;

///
/// Highlighted code header background colour on dark backgrounds.
///
$code-highlighted-header-background-colour-on-dark: color.mix(
  colour.$foreground-colour-on-dark, colour.$background-colour-dark, 20%
) !default;

///
/// Highlighted code title padding.
///
$code-highlighted-block-title-padding:
  (general.$general-spacing * 0.7) general.$general-spacing !default;

///
/// Highlighted code body padding.
///
$code-highlighted-block-body-padding: general.$general-spacing !default;

///
/// Highlighted code border-radius.
///
$code-highlighted-border-radius:
  material-general.$material-border-radius !default;

///
/// Highlighted code string colour.
///
/// @link https://www.monokai.pro/
///   From Monokai colour scheme.
///
$code-highlighted-colour-string: #e7b248 !default;

///
/// Highlighted code symbol colour.
///
/// @link https://www.monokai.pro/
///   From Monokai colour scheme.
///
$code-highlighted-colour-symbol: #f92468 !default;

///
/// Highlighted code number colour.
///
/// @link https://www.monokai.pro/
///   From Monokai colour scheme.
///
$code-highlighted-colour-number: #ac80ff !default;

///
/// Highlighted code keyword colour.
///
/// @link https://www.monokai.pro/
///   From Monokai colour scheme.
///
$code-highlighted-colour-keyword: #67d8ef !default;

///
/// Highlighted code reserved word colour.
///
/// @link https://github.com/equinusocio/material-theme
///   Inspired by the Material Theme for Sublime Text.
$code-highlighted-colour-reserved-word: #89ddff !default;

///
/// Highlighted code method colour.
///
/// @link https://www.monokai.pro/
///   From Monokai colour scheme.
$code-highlighted-colour-method: #a6ce28 !default;

@at-root {
  @include vertical-spacing.vertical-spacing-against-previous(
    '.code-highlighted'
  );
}
.code-highlighted {
  // Header, displaying the human name of the code language.
  &__heading {
    margin:       0;
    padding:      $code-highlighted-block-title-padding;

    @include colour.set-colours(
      $background: $code-highlighted-header-background-colour-on-light
    );

    @include colour.on-dark-colour-scheme {
      @include colour.set-colours(
        $background: $code-highlighted-header-background-colour-on-dark
      );
    }

    border-top-left-radius:   $code-highlighted-border-radius;
    border-top-right-radius:  $code-highlighted-border-radius;

    // Reset line height to get a bit less vertical spacing.
    line-height:    1;
  }

  // The <pre> element containing all of the source code.
  &__code {
    // Reset any browser default margins.
    margin:   0;
    padding:  $code-highlighted-block-body-padding;

    @include colour.set-colours(
      $background:  $code-highlighted-background-colour-on-light
    );

    @include colour.on-dark-colour-scheme {
      @include colour.set-colours(
        $background:  $code-highlighted-background-colour-on-dark
      );
    }

    border-bottom-left-radius:  $code-highlighted-border-radius;
    border-bottom-right-radius: $code-highlighted-border-radius;

    overflow-x:     auto;

    white-space:    pre;
  }

  &__comment {
    opacity: 0.6;
  }

  &__symbol {
    color: $code-highlighted-colour-symbol;
  }

  &__string {
    color: $code-highlighted-colour-string;
  }

  &__number {
    color: $code-highlighted-colour-number;
  }

  &__keyword {
    color: $code-highlighted-colour-keyword;

    font-style: italic;
  }

  &__reserved-word {
    color: $code-highlighted-colour-reserved-word;
  }

  &__method {
    color: $code-highlighted-colour-method;
  }
}
