// -----------------------------------------------------------------------------
//   Base Symfony VarDumper code block partial
// -----------------------------------------------------------------------------

@use 'code';
@use '../global/layout.vertical_spacing' as vertical-spacing;
@use 'sass/helpers/colour';

// @see https://github.com/symfony/var-dumper

@at-root {
  @include vertical-spacing.against-previous(
    '.sf-dump.sf-dump'
  );
}

.sf-dump.sf-dump {
  // Remove the default vertical margins, as we provide our own.
  margin-top:     0;
  margin-bottom:  0;

  padding: code.$block-body-padding;

  border-radius: code.$border-radius;

  // By default, this is set to a fixed, small size, so set it to a percentage
  // to inherit responsive font scaling. 100% feels a bit too big here, so we're
  // going with 90%.
  font-size: 90%;

  // Symbols are not wrapped in anything, so by setting the default colour to
  // the symbol and overriding that on specific elements has almost the same
  // effect.
  @include colour.set(
    $background:          code.$background-colour-on-light,
    $foreground-on-dark:  code.$colour-symbol,
    $foreground-on-light: code.$colour-symbol
  );

  @include colour.on-dark-scheme {
    @include colour.set(
      $background:          code.$background-colour-on-dark,
      $foreground-on-dark:  code.$colour-symbol,
      $foreground-on-light: code.$colour-symbol
    );
  }

  .sf-dump-str,
  .sf-dump-key {
    color: code.$colour-string;
  }

  .sf-dump-note {
    color: code.$colour-keyword;

    font-style: italic;
  }

  .sf-dump-index {
    color: code.$colour-number;
  }

  .sf-dump-public,
  .sf-dump-protected,
  .sf-dump-private {
    color: code.$colour-method;
  }

  .sf-dump-const {
    color: code.$colour-reserved-word;
  }
}
