// -----------------------------------------------------------------------------
//   Base Drupal <details> component/element partial
// -----------------------------------------------------------------------------

@use '../global/content';
@use '../global/layout.vertical_spacing' as vertical-spacing;
@use 'sass/variables/general';
@use 'sass/helpers/selector';

@include vertical-spacing.against-previous(
  'details',
  $spacing-small: content.$item-vertical-spacing-small,
  $spacing-large: content.$item-vertical-spacing-large
);
details {
  margin-top:     0;
  margin-bottom:  0;

  summary {
    // This gives the end of the <summary> line a padding equal to that of the
    // .details-wrapper so that text doesn't flow past that boundary.
    @include selector.root-conditions(('[dir=ltr]'), 'html') {
      padding-right:  general.$general-spacing;
    }
    @include selector.root-conditions(('[dir=rtl]'), 'html') {
      padding-left:   general.$general-spacing;
    }
  }

  > .details-wrapper {
    padding: general.$general-spacing;
  }
}
