// -----------------------------------------------------------------------------
//   Base feed icon link partial
// -----------------------------------------------------------------------------

///
/// Generic RSS icon orange.
///
$rss-colour: #FF6600;

///
/// The feed link colour. Defaults to $rss-colour.
///
$feed-link-colour: $rss-colour !default;

// This overrides core/themes/classy/css/components/icons.css to make the icon
// visible, remove the background image, and set our icon colour.
.feed-icon {
  display:      inline-block;

  width:        auto;
  height:       auto;

  overflow:     visible;

  background:   none;

  text-indent:  0;

  @include set-icon-colour($feed-link-colour);
}
