// -----------------------------------------------------------------------------
//   Base feed icon link partial
// -----------------------------------------------------------------------------

@use '../global/layout.vertical_spacing' as vertical-spacing;

// This overrides core/themes/classy/css/components/icons.css to make the icon
// visible and remove the background image.
.feed-icon {
  display:      inline-block;

  width:        auto;
  height:       auto;

  overflow:     visible;

  background:   none;

  text-indent:  0;
}

@include vertical-spacing.against-previous(
  '.feed-icons'
);

.feed-icons {
  // Centre the feed icons to visually distinguish them from any preceding
  // content which is left or right aligned.
  text-align: center;
}
