// -----------------------------------------------------------------------------
//   Base Drupal media fields partial
// -----------------------------------------------------------------------------

///
/// Media field spacing.
///
/// This is used as the overall field padding and spacing between field items.
/// Defaults to $layout-gutter to look consistent with the page layout spacing.
///
$media-field-spacing: $layout-gutter !default;

.field--type-image,
.field--type-video-embed-field {
  // Remove fancy link underlines on links not inside a <figcaption>.
  @if $use-fancy-link-underlines == true {
    .field__item > :link,
    figure > :link,
    figure > :not(figcaption) :link {
      @include remove-fancy-link-underlines;
    }
  }

  img {
    // Ensure images are always the full width of the field item.
    width:  100%;
  }

  // Spacing between field items and any preceding element (usually another
  // field item).
  @include vertical-spacing-against-previous(
    '.field__item',
    $spacing-small: $media-field-spacing,
    $spacing-large: $media-field-spacing
  );

  // These are centred using horizontal margins. Note that we have to include
  // the field container itself as it can also be width constrained if the
  // container is also the only field item, when no visually hidden heading is
  // present.
  &, .field__item, .intrinsic-ratio, :link {
    margin-left:  auto;
    margin-right: auto;
  }

  // Links and images need to be displayed as block to avoid weird inline space
  // appearing.
  :link, img {
    display: block;
  }
}

.field--type-image {
  figure {
    // Remove the margins added by normalize.css.
    margin: 0;
  }

  figcaption {
    margin-top: $media-field-spacing;

    // This is in case we're in a multiple item field, to distinguish this
    // caption from any <figure> that may follow it. Note that in this case,
    // we're using $general-spacing and not $media-field-spacing as the latter
    // is specifically meant to match the layout gutter. Also note that it's
    // impractical to use the vertical-spacing-against-previous mixin here as
    // no major browser yet supports the :has() pseudo-class as of 2019-06-20.
    // @see https://developer.mozilla.org/en-US/docs/Web/CSS/:has
    margin-bottom: $general-spacing * 2.5;

    text-align: center;

    :first-child {
      margin-top: 0;
    }
    :last-child {
      margin-bottom: 0;
    }

    // Reset the display: block; set higher up to the default of inline to links
    // in the caption.
    :link {
      display: inline;
    }
  }

  // Remove the bottom margin on the last item's caption. Note the direct child
  // selectors so that we only consider the containing entity reference field's
  // items; without the selector, this would apply to every media entity,
  // because they all technically have a last .field__item as they contain their
  // own fields.
  > .field__item,
  > .field__items > .field__item {
    &:last-child figcaption {
      margin-bottom: 0;
    }
  }
}
