// -----------------------------------------------------------------------------
//   Base Drupal field partial
// -----------------------------------------------------------------------------

// @todo Remove fallbacks when flexbox with gap properties is well supported.

:root {
  --field-column-gap: 0.75em;
  --field-row-gap:    0.25em;
}

.field--label-inline {

  @include supports-flexbox-gap {

    display:    flex;
    flex-wrap:  wrap;

    column-gap: var(--field-column-gap);
    row-gap:    var(--field-row-gap);

  }

  .field__label {

    @include root-conditions(('[dir=ltr]'), 'html') {
      float: left;
      padding-right: var(--field-column-gap);
    }

    @include root-conditions(('[dir=rtl]'), 'html') {
      float: right;
      padding-left: var(--field-column-gap);
    }

    @include supports-flexbox-gap {
      @include root-conditions(('[dir=ltr]'), 'html') {
        float: none;
        padding-right: 0;
      }

      @include root-conditions(('[dir=rtl]'), 'html') {
        float: none;
        padding-left: 0;
      }
    }

  }

  .field__label::after {
    content: ':';
  }
}

@at-root {
  @include vertical-spacing-against-previous(
    '.field',
    $spacing-small: $general-spacing,
    $spacing-large: $general-spacing * 1.5
  );
}
