// -----------------------------------------------------------------------------
//   Base Drupal field partial
// -----------------------------------------------------------------------------

// @todo Should the difference between the spacing values for .field and
// .field__item be even greater?

@at-root {
  @include vertical-spacing-against-previous(
    '.field',
    $spacing-small: $general-spacing,
    $spacing-large: $general-spacing * 1.5
  );

  @include vertical-spacing-against-previous(
    '.field__item',
    $spacing-small: $content-item-vertical-spacing-small,
    $spacing-large: $content-item-vertical-spacing-large
  );
}
