// -----------------------------------------------------------------------------
//   Base Drupal media fields partial
// -----------------------------------------------------------------------------

@use '../global/layout';
@use '../global/layout.vertical_spacing' as vertical-spacing;
@use 'sass/variables/general';

///
/// Media field spacing.
///
/// This is used as the overall field padding and spacing between field items.
/// Defaults to $gutter to look consistent with the page layout spacing.
///
$spacing: layout.$gutter !default;

.field--type-image,
.field--type-video-embed-field {

  --field-item-gap: #{$spacing};

  img {
    // Ensure images are always the full width of the field item.
    width:  100%;
  }

  // Spacing between field items and any preceding element (usually another
  // field item).
  @include vertical-spacing.against-previous(
    '.field__item',
    $spacing-small: $spacing,
    $spacing-large: $spacing
  );

  // These are centred using horizontal margins. Note that we have to include
  // the field container itself as it can also be width constrained if the
  // container is also the only field item, when no visually hidden heading is
  // present.
  &, .field__item, :link {
    margin-left:  auto;
    margin-right: auto;
  }

  // Links and images need to be displayed as block to avoid weird inline space
  // appearing.
  :link, img {
    display: block;
  }
}

.field--type-image {
  figure {
    // Remove the margins added by normalize.css.
    margin: 0;
  }

  figcaption {
    margin-top: $spacing;

    text-align: center;

    :first-child {
      margin-top: 0;
    }
    :last-child {
      margin-bottom: 0;
    }

    // Reset the display: block; set higher up to the default of inline to links
    // in the caption.
    :link {
      display: inline;
    }
  }
}

// Media entities in an entity reference field, both without a label in the
// markup and with, respectively.
.field--type-entity-reference > .field__item:not(:last-child),
.field--type-entity-reference > .field__items > .field__item:not(:last-child),
// Media entities being displayed outside of an entity reference field.
*:not(.field__item) > .media .field__item:not(:last-child) {
  .field--type-image figcaption {
    // If a <figcaption> is in a multiple item field, distinguish it from any
    // <figure> that may follow it with a margin-bottom. Note that in this case,
    // we're using $general-spacing and not $spacing as the latter is
    // specifically meant to match the layout gutter. Also note that it's
    // impractical to use the against-previous mixin here as no
    // major browser yet supports the :has() pseudo-class as of 2019-06-20.
    //
    // @see https://developer.mozilla.org/en-US/docs/Web/CSS/:has
    margin-bottom: general.$general-spacing * 2.5;
  }
}
