// -----------------------------------------------------------------------------
//   Base form item partial
// -----------------------------------------------------------------------------

@use '../global/content';
@use '../global/layout.vertical_spacing' as vertical-spacing;
@use 'sass:math';

.form-checkboxes,
.form-radios {
  .form-item {
    margin-top:     0;
    margin-bottom:  0;
  }

  @include vertical-spacing.against-previous(
    '.form-item',
    $spacing-small: math.div(content.$item-vertical-spacing-small, 2),
    $spacing-large: math.div(content.$item-vertical-spacing-small, 2)
  );
}
