// -----------------------------------------------------------------------------
//   Base Drupal links list partial
// -----------------------------------------------------------------------------

@use 'sass:math';
@use 'sass/helpers/selector';
@use 'sass/variables/general';

///
/// The gap between two inline links items.
///
$inline-gap: general.$general-spacing !default;

ul.links {
  &.inline {
    display: block;

    // This aligns the edge of the text with the bounding box of the list's
    // parent container.
    @include selector.root-conditions(('[dir=ltr]'), 'html') {
      margin-left:    math.div($inline-gap, 2) * -1;
    }
    @include selector.root-conditions(('[dir=rtl]'), 'html') {
      margin-right:   math.div($inline-gap, 2) * -1;
    }

    li {
      padding-left:   math.div($inline-gap, 2);
      padding-right:  math.div($inline-gap, 2);
    }
  }
}
