// -----------------------------------------------------------------------------
//   Base local tasks tabs partial
// -----------------------------------------------------------------------------

@use '../typography/config' as typography-config;
@use 'link/link.state' as link-state;
@use 'material.ripple' as material-ripple;
@use 'material.tabs' as material-tabs;
@use 'sass/helpers/colour';

.tabs.primary {
  @include material-tabs.container;

  li {
    margin: 0;

    a {
      @include material-tabs.item;

      font-weight: typography-config.$font-weight-strong;

      @include material-ripple.material-ripple;

      // This is required so that --material-ripple-colour is generated, as the
      // Material tabs component doesn't include the Material ripple module by
      // default and thus the ripple colour event callback never gets triggered.
      //
      // @todo Find a way to remove the need for this.
      @include material-ripple.ripple-colour(
        $background-colour: colour.$background-light,
        $foreground-colour: colour.$foreground-on-light
      );

      @include colour.on-dark-scheme {
        @include material-ripple.ripple-colour(
          $background-colour: colour.$background-dark,
          $foreground-colour: colour.$foreground-on-dark
        );
      }

      // This overrides Classy's :focus background-color that comes through if
      // you click and drag a tab link, so that it doesn't show the bright
      // white, which is a bit jarring on the dark colour scheme.
      &.disable-default-active-state.pointer-focus-hide:focus {
        background-color: transparent;
      }
    }

    // Active links should not have a background colour, both when no
    // iteraction is occuring or when it is.
    &.is-active a {
      background-color: transparent;

      @include link-state.highlight {
        background-color: transparent;
      }

      &::after {
        content: '';

        @include material-tabs.item-current;
      }
    }
  }
}
