// -----------------------------------------------------------------------------
//   Base local tasks tabs partial
// -----------------------------------------------------------------------------

.tabs.primary {
  @include material-tabs-container;

  li {
    margin: 0;

    a {
      @include material-tabs-item;

      font-weight: $font-weight-strong;

      // Active links should not have a background colour, both when no
      // iteraction is occuring or when it is.
      &.is-active {
        background-color: transparent;

        @include link-hover {
          background-color: transparent;
        }
      }

      @include material-ripple;

      // This overrides Classy's :focus background-color that comes through if
      // you click and drag a tab link, so that it doesn't show the bright
      // white, which is a bit jarring on the dark colour scheme.
      &.disable-default-active-state.pointer-focus-hide:focus {
        background-color: transparent;
      }
    }
  }
}
