// -----------------------------------------------------------------------------
//   Base node partial
// -----------------------------------------------------------------------------

@use '../layout/vertical_spacing' as vertical-spacing;
@use '../typography/config' as typography-config;
@use 'sass/variables/general';

.node {
  // Spacing between node sections.
  * + &__content,
  * + &__links {
    margin-top: general.$general-spacing;
  }

  // Footer links.
  &__links {
    font-weight:    typography-config.$font-weight-strong;
    text-transform: uppercase;
  }

  // Unpublished nodes.
  &--unpublished {
    position: relative;

    // This overrides the Classy node CSS background colour.
    background-color: transparent;

    // This places a large, faded 'UNPUBLISHED' behind the node.
    &::before {
      content: 'Unpublished';

      display: block;

      position: absolute;
      top:      0;
      bottom:   0;
      left:     0;
      right:    0;
      // Layer this below content.
      z-index: -1;

      overflow: hidden;

      font-size:      400%;
      text-transform: uppercase;
      text-align:     center;
      // Should not break when the text can't fit, i.e. on narrow viewports.
      // It's preferable to just have it get clipped off where it overflows the
      // node width.
      white-space:    nowrap;

      opacity: 0.3;

      // Give it a slight blur so it fades into the background a bit.
      filter: blur(2px);

      // Just in case the z-index doesn't work as intended.
      pointer-events: none;
    }
  }
}

// Spacing between a node and any preceding element that isn't the local tasks
// or page title blocks.
@at-root {
  @include vertical-spacing.against-previous(
    '.node',
    $previous-qualifier:
      ':not(.block-local-tasks-block):not(.block-page-title-block)'
  );
}
// Spacing between the first node in a view if the view content is not the first
// child; i.e. there's a view header and/or exposed form.
.view {
  @include vertical-spacing.against-previous(
    '.view-content .node:first-child'
  );
}
