// -----------------------------------------------------------------------------
//   Base off-canvas panel component partial
// -----------------------------------------------------------------------------

@use '../global/layout';
@use 'sass/helpers/colour';
@use 'material.common/material.panel' as material-panel;

// This applies the theme layout to off-canvas panels so that they match the
// rest of the page.

.offcanvas-panel--is-ready {
  // Auto panel theme; switches between light and dark based on
  // prefers-colour-scheme media feature.
  &.offcanvas-panel--theme-auto {
    @include colour.set(
      $background: material-panel.$background-colour-light
    );

    @include colour.on-dark-scheme {
      @include colour.set(
        $background: material-panel.$background-colour-dark-on-dark
      );
    }
  }
  // Light panel theme.
  &.offcanvas-panel--theme-light {
    @include colour.set(
      $background: material-panel.$background-colour-light
    );
  }
  // Dark panel theme.
  &.offcanvas-panel--theme-dark {
    @include colour.set(
      $background: material-panel.$background-colour-dark
    );
  }

  align-items: center;

  .offcanvas-panel__content,
  .offcanvas-panel__ui {
    padding-left:   layout.$gutter;
    padding-right:  layout.$gutter;
  }

  .offcanvas-panel__ui {
    padding-bottom: layout.$gutter;
  }

  .offcanvas-panel__content {
    &::before {
      height:   layout.$gutter;
    }

    &::after {
      height:   (layout.$gutter * 2) + 2.5em;
    }
  }

  &.offcanvas-panel--top,
  &.offcanvas-panel--bottom {
    .offcanvas-panel__content,
    .offcanvas-panel__ui {
      @include layout.max-width;
    }
  }
}
