// -----------------------------------------------------------------------------
//   Base off-canvas panel component partial
// -----------------------------------------------------------------------------

// This applies the theme layout to off-canvas panels so that they match the
// rest of the page.

.offcanvas-panel--is-ready {
  // Auto panel theme; switches between light and dark based on
  // prefers-colour-scheme media feature.
  &.offcanvas-panel--theme-auto {
    @include set-colours(
      $background: $material-panel-background-colour-light
    );

    @include on-dark-colour-scheme {
      @include set-colours(
        $background: $material-panel-background-colour-dark-on-dark
      );
    }
  }
  // Light panel theme.
  &.offcanvas-panel--theme-light {
    @include set-colours(
      $background: $material-panel-background-colour-light
    );
  }
  // Dark panel theme.
  &.offcanvas-panel--theme-dark {
    @include set-colours(
      $background: $material-panel-background-colour-dark
    );
  }

  align-items: center;

  .offcanvas-panel__content,
  .offcanvas-panel__ui {
    padding-left:   $layout-gutter;
    padding-right:  $layout-gutter;
  }

  .offcanvas-panel__ui {
    padding-bottom: $layout-gutter;
  }

  .offcanvas-panel__content {
    &::before {
      height:   $layout-gutter;
    }

    &::after {
      height:   ($layout-gutter * 2) + 2.5em;
    }
  }

  &.offcanvas-panel--top,
  &.offcanvas-panel--bottom {
    .offcanvas-panel__content,
    .offcanvas-panel__ui {
      max-width:    $layout-max-width;
    }
  }
}
