// -----------------------------------------------------------------------------
//   Base overlay component partial
// -----------------------------------------------------------------------------

@use 'sass:color';
@use 'sass/helpers/colour';

///
/// Overlay opacity when visible.
///
/// Note that this is applied to the overlay background colour rather than as
/// the opacity property to allow for full use of backdrop-filter. The effect of
/// backdrop-filter scales down along with the opacity property, but is not
/// affected by any opacity in the background colour itself.
///
$opacity: 0.8 !default;

///
/// Overlay colour on light colour scheme.
///
$colour-light: color.change(
  colour.$background-light, $alpha: $opacity
) !default;

///
/// Overlay colour on dark colour scheme.
///
$colour-dark: color.change(colour.$background-dark, $alpha: $opacity) !default;

.overlay {
  @include colour.set($background: $colour-light);

  @include colour.on-dark-scheme {
    @include colour.set($background: $colour-dark);
  }

  &--is-active {
    opacity: 1;
  }
}
