// -----------------------------------------------------------------------------
//   Base overlay component partial
// -----------------------------------------------------------------------------

@use 'sass/helpers/colour';

///
/// Overlay colour in a light colour scheme.
///
$colour-light: colour.$background-light !default;

///
/// Overlay colour in a dark colour scheme.
///
$colour-dark: colour.$background-dark !default;

///
/// Overlay opacity when visible.
///
$opacity: 0.8 !default;

.overlay {
  @include colour.set($background: $colour-light);

  @include colour.on-dark-scheme {
    @include colour.set($background: $colour-dark);
  }

  &--is-active {
    opacity: $opacity;
  }
}
