// -----------------------------------------------------------------------------
//   Base skip to content link partial
// -----------------------------------------------------------------------------

@use 'material.common/material.general' as material-general;
@use 'material.common/material.shadow' as material-shadow;
@use 'sass/helpers/colour';
@use 'sass/helpers/outline';
@use 'sass/helpers/z-index';

// This styles the "Skip to main content" link to give a semi-transparent
// background, a Material shadow, some border radius, and positions it
// absolutely in the top centre of the page.

///
/// Skip to content link background colour.
///
$background-colour: colour.greyscale(25%, 0.6) !default;

///
/// Skip to content link focus outline colour.
///
$outline-colour: black !default;

.skip-link-container {
  @supports (pointer-events: none) and (display: flex) {
    position: absolute;

    display: flex;
    justify-content: center;

    left:   0;
    right:  0;

    @include z-index.z-index('floating');

    // Since this is meant to be focused by means other than a pointer, such as
    // by keyboard, we can make it click-through so that it's not accidentally
    // clicked when invisible.
    pointer-events: none;
  }

  :link {
    padding: 0.5em 1em;

    border-bottom-left-radius:  material-general.$material-border-radius;
    border-bottom-right-radius: material-general.$material-border-radius;

    @include colour.set-colours($background: $background-colour);

    @include material-shadow.material-shadow(2);

    @include outline.focus(
      $is-link: true,
      $colour:  $outline-colour
    );
  }
}

// This is the anchor that the skip link targets. It's absolutely positioned to
// avoid affecting layout, e.g. if CSS Grid is used.
#main-content {
  position: absolute;
}
