// -----------------------------------------------------------------------------
//   Base social links component partial
// -----------------------------------------------------------------------------

///
/// The spacing between two network items in the social links block list.
///
$social-links-network-item-spacing: $general-spacing !default;

.ambientimpact-social-links {
  $self: &;

  @include unlisted-list;

  &--orientation-horizontal {
    ///
    /// The padding value used to space network items.
    ///
    /// Note that we halve it so that it can be applied equally in all
    /// directions and then negated at the list level on the bounding box of the
    /// list, so that the spacing can be applied equally horizontally and
    /// vertically, regardless of how many rows and columns there are, e.g. when
    /// the network items wrap due to small screen width.
    ///
    $network-padding: $social-links-network-item-spacing  / 2;

    margin: -$network-padding;

    // Override ../global/_layout.scss so that our horizontal negative margins
    // correctly alter the width past 100%.
    max-width: none;

    & #{$self}__network {
      padding: $network-padding;
    }
  }

  &--display-icon-only {
    // Icons are larger when no text is visible.
    .ambientimpact-icon {
      @include set-icon-size($icon-size * 2);
    }
  }
}
