{#
/**
 * @file
 * Theme override for a feed icon.
 *
 * This is ported from the 'stable' base theme to add in our icon.
 *
 * Available variables:
 * - title: The human-readable title of this feed.
 * - url: An internal system path or a fully qualified external URL of the feed.
 * - attributes: Remaining HTML attributes for the feed link.
 *   - title: A descriptive title of the feed link.
 *   - class: HTML classes to be applied to the feed link.
 */
#}
<a href="{{ url }}"{{ attributes.addClass('feed-icon') }}>
  {{ ambientimpact_icon(
    'rss', 'core',
    'Subscribe to @title'|t({'@title': title}),
    {'textDisplay': 'visuallyHidden'}
  ) }}
</a>
