{#
/**
 * @file
 * Theme override for a feed icon.
 *
 * This is modified from the 'stable' base theme with the following changes:
 * - Added ambientimpact_icon.
 * - Added 'title' attribute to link.
 * - Moved 'href' to attributes object.
 *
 * Available variables:
 * - title: The human-readable title of this feed.
 * - url: An internal system path or a fully qualified external URL of the feed.
 * - attributes: Remaining HTML attributes for the feed link.
 *   - href: The URL for the feed; automatically set from the url variable.
 *   - title: A descriptive title of the feed link.
 *   - class: HTML classes to be applied to the feed link.
 *
 * @todo Implement a variable so that icon settings can be passed to this
 * template; e.g. textDisplay, etc.
 */
#}

{# If the title is not empty, include it in the text. Note that the default
   front page (/node) does not set a title, so this ensures the text still makes
   sense. #}
{% if title is not empty %}
  {%- set text = 'Subscribe to @title'|t({'@title': title}) -%}
{% else %}
  {%- set text = 'Subscribe'|t -%}
{% endif %}

{# Add the title and href attributes to the attributes object for output. #}
{%- set attributes = attributes
  .setAttribute('title', text)
  .setAttribute('href', url)
-%}

<a{{ attributes.addClass('feed-icon') }}>
  {{ ambientimpact_icon(
    'rss', 'core',
    text,
    {'textDisplay': 'visible'}
  ) }}
</a>
