// -----------------------------------------------------------------------------
//   Base abbreviation partial
// -----------------------------------------------------------------------------

// abbr dotted underline, applied both with native title attribute and when
// using Tippy.js. The underline thickness is shared with other underlines for
// consistency.
.layout-container {
  @include abbr {
    // Don't apply to elements in Symfony VarDumper output.
    &:not(.sf-dump-note) {
      border-bottom: $text-underline-thickness dotted;

      // Remove the default text decoration as it clashes with our underlines.
      text-decoration: none;

      @include text-underline(
        $underline-style: dotted
      ) {
        border-bottom-width:  0;
      }
    }
  }
}
