// -----------------------------------------------------------------------------
//   Base abbreviation partial
// -----------------------------------------------------------------------------

@use 'abbr/abbr';

// abbr dotted underline, applied both with native title attribute and when
// using Tippy.js. The underline thickness is shared with other underlines for
// consistency.
.layout-container,
.offcanvas-panel {
  @include abbr.abbr {
    // Override normalize.css.
    border-bottom-width: 0;

    text-decoration-style:      dotted;
    text-decoration-line:       underline;
    text-decoration-thickness:  var(--text-decoration-thickness, 2px);
  }
}
