// -----------------------------------------------------------------------------
//   Base <blockquote> element partial
// -----------------------------------------------------------------------------

// This adds a decorative quotation mark and vertical line on the left or right
// of a <blockquote> on LTR or RTL language direction, respectively.

@use 'sass:math';

///
/// <blockquote> line width. This should be divisible by 2.
///
$blockquote-line-width: 2px !default;

///
/// <blockquote> quotation mark size.
///
$blockquote-quotation-mark-size: $icon-size !default;

///
/// Spacing between a <blockquote> quotation mark and adjacent elements.
///
$blockquote-quotation-mark-spacing: $icon-text-spacing + 0.2em !default;

///
/// Colour of the decorative quotation mark and line on a <blockquote>
///
$blockquote-decoration-colour-on-light:
  mix($foreground-colour-on-light, $background-colour-light, 50%) !default;

$blockquote-decoration-colour-on-dark:
  mix($foreground-colour-on-dark, $background-colour-dark, 50%) !default;

@include vertical-spacing-against-previous(
  'blockquote',
  $spacing-small: $content-item-vertical-spacing-small,
  $spacing-large: $content-item-vertical-spacing-large
);

blockquote {
  position: relative;

  // Minimum height so that we don't end up with an awkwardly short vertical
  // line below the quotation mark.
  min-height: 2em;

  margin:   0;
  padding:  0;

  $container-indent:
    $blockquote-quotation-mark-size + $blockquote-quotation-mark-spacing;

  @include root-conditions(('[dir=ltr]'), 'html') {
    padding-left:   $container-indent;
  }
  @include root-conditions(('[dir=rtl]'), 'html') {
    padding-right:  $container-indent;
  }

  &::before,
  &::after {
    content:  '';

    position: absolute;
  }

  // Decorative quotation mark.
  //
  // @link https://www.fontsquirrel.com/fonts/Furore
  //   From the Furore font, which does not have a license.
  //
  // @link https://jakearchibald.github.io/svgomg/
  //   Used to clean up the SVG after export from Adobe Illustrator.
  //
  // @link https://stackoverflow.com/a/37683760
  //   Details of inlining and use of rgba().
  &::before {
    width:  $blockquote-quotation-mark-size;
    height: $blockquote-quotation-mark-size;

    background-image:   url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M10.026 20.021L2 12V3.979h8.026v16.042zm11.974 0L13.979 12V3.979H22v16.042z" fill="rgba(' + red($blockquote-decoration-colour-on-light) + ',' + green($blockquote-decoration-colour-on-light) + ',' + blue($blockquote-decoration-colour-on-light) + ',' + alpha($blockquote-decoration-colour-on-light) + ')"/></svg>');
    background-repeat:  no-repeat;
    background-size:    $blockquote-quotation-mark-size;

    @include on-dark-colour-scheme {
      background-image:   url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M10.026 20.021L2 12V3.979h8.026v16.042zm11.974 0L13.979 12V3.979H22v16.042z" fill="rgba(' + red($blockquote-decoration-colour-on-dark) + ',' + green($blockquote-decoration-colour-on-dark) + ',' + blue($blockquote-decoration-colour-on-dark) + ',' + alpha($blockquote-decoration-colour-on-dark) + ')"/></svg>');
    }

    // This attempts to align the top of the quotation mark with the top of an
    // ajacent <p> element's first line character, expected to be in upper case.
    // Note that if the base line-height in _typography.scss is changed, this
    // will need to be adjusted.
    top: 0.25em;

    @include root-conditions(('[dir=ltr]'), 'html') {
      left: 0;
    }
    @include root-conditions(('[dir=rtl]'), 'html') {
      right: 0;
    }
  }

  // Decorative vertical line.
  &::after {
    $line-indent: math.div($blockquote-quotation-mark-size, 2);
    $line-adjust: math.div($blockquote-line-width, 2 * -1);

    @include root-conditions(('[dir=ltr]'), 'html') {
      left:         $line-indent;
      margin-left:  $line-adjust;
    }
    @include root-conditions(('[dir=rtl]'), 'html') {
      right:        $line-indent;
      margin-right: $line-adjust;
    }

    top:
      $blockquote-quotation-mark-size + $blockquote-quotation-mark-spacing;
    bottom:   0;

    width:    $blockquote-line-width;

    background-color: $blockquote-decoration-colour-on-light;

    @include on-dark-colour-scheme {
      background-color: $blockquote-decoration-colour-on-dark;
    }
  }
}
