// -----------------------------------------------------------------------------
//   Base <blockquote> element partial
// -----------------------------------------------------------------------------

// This adds a decorative quotation mark and vertical line on the left or right
// of a <blockquote> on LTR or RTL language direction, respectively.

///
/// <blockquote> line width. This should be divisible by 2.
///
$blockquote-line-width: 2px !default;

///
/// <blockquote> quotation mark size.
///
$blockquote-quotation-mark-size: $icon-size !default;

///
/// Spacing between a <blockquote> quotation mark and adjacent elements.
///
$blockquote-quotation-mark-spacing: $icon-text-spacing !default;

///
/// Colour of the decorative quotation mark and line on a <blockquote>
///
$blockquote-decoration-colour:
  scale-color($foreground-colour, $alpha: -50%) !default;

blockquote {
  position: relative;

  margin:   0;
  padding:  0;

  $container-indent:
    $blockquote-quotation-mark-size + $blockquote-quotation-mark-spacing;

  @include root-conditions(('[dir=ltr]'), 'html') {
    padding-left:   $container-indent;
  }
  @include root-conditions(('[dir=rtl]'), 'html') {
    padding-right:  $container-indent;
  }

  &::before,
  &::after {
    content:  '';

    position: absolute;
  }

  // Decorative quotation mark.
  //
  // @link https://www.fontsquirrel.com/fonts/Furore
  //   From the Furore font, which does not have a license.
  //
  // @link https://jakearchibald.github.io/svgomg/
  //   Used to clean up the SVG after export from Adobe Illustrator.
  //
  // @link https://stackoverflow.com/a/37683760
  //   Details of inlining and use of rgba().
  &::before {
    width:  $blockquote-quotation-mark-size;
    height: $blockquote-quotation-mark-size;

    background-image:   url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M10.026 20.021L2 12V3.979h8.026v16.042zm11.974 0L13.979 12V3.979H22v16.042z" fill="rgba(' + red($blockquote-decoration-colour) + ',' + green($blockquote-decoration-colour) + ',' + blue($blockquote-decoration-colour) + ',' + alpha($blockquote-decoration-colour) + ')"/></svg>');
    background-repeat:  no-repeat;
    background-size:    $blockquote-quotation-mark-size;

    top: 0;

    @include root-conditions(('[dir=ltr]'), 'html') {
      left: 0;
    }
    @include root-conditions(('[dir=rtl]'), 'html') {
      right: 0;
    }
  }

  // Decorative vertical line.
  &::after {
    $line-indent: $blockquote-quotation-mark-size / 2;
    $line-adjust: $blockquote-line-width / 2 * -1;

    @include root-conditions(('[dir=ltr]'), 'html') {
      left:         $line-indent;
      margin-left:  $line-adjust;
    }
    @include root-conditions(('[dir=rtl]'), 'html') {
      right:        $line-indent;
      margin-right: $line-adjust;
    }

    top:
      $blockquote-quotation-mark-size + $blockquote-quotation-mark-spacing;
    bottom:   0;

    width:    $blockquote-line-width;

    background-color: $blockquote-decoration-colour;
  }
}
