// -----------------------------------------------------------------------------
//   Base <input type="checkbox"> element partial
// -----------------------------------------------------------------------------

@use '../global/colour';

input[type='checkbox'] {

  // Only apply the size to browsers that support accent-color as the size
  // adjustments are intended only for browsers that use modernized inputs, rather
  // than native operating system ones.
  //
  // @see https://developer.mozilla.org/en-US/docs/Web/CSS/accent-color
  @supports (accent-color: #{colour.$accent-colour}) {
    --size: 0.8em;

    width:  var(--size);
    height: var(--size);
  }

}
