// -----------------------------------------------------------------------------
//   Base code element partial
// -----------------------------------------------------------------------------

@use 'sass:color';
///
/// Inline <code> element background colour on light backgrounds.
///
$code-inline-background-colour-on-light: $background-colour-dark !default;

///
/// Inline <code> element background colour on dark backgrounds.
///
$code-inline-background-colour-on-dark: color.mix(
  $foreground-colour-on-dark, $background-colour-dark, 10%
) !default;

///
/// Inline <code> element padding.
///
$code-inline-padding: 0.1em 0.2em !default;

///
/// Inline <code> element border radius.
///
$code-inline-border-radius: $material-border-radius !default;

code {
  padding: $code-inline-padding;

  @include set-colours(
    $background: $code-inline-background-colour-on-light
  );

  @include on-dark-colour-scheme {
    @include set-colours(
      $background: $code-inline-background-colour-on-dark
    );
  }

  border-radius: $code-inline-border-radius;

  // If this wraps to a new line, this property makes the horizontal padding and
  // border radius apply to each line where they break:
  //
  // @see http://callmenick.com/post/multi-line-padded-text-css-box-decoration-break
  box-decoration-break: clone;

  // This ensures that the element wraps to a new line if it exceeds the
  // available width. By default, this would not break to a new line, which
  // could cause it to get clipped off, break out of the layout, or otherwise
  // just look awkward.
  white-space: pre-wrap;

  // Inherit the link colour if inside of a link.
  :any-link & {
    color: inherit;
  }

}
