// -----------------------------------------------------------------------------
//   Base horizontal rule partial
// -----------------------------------------------------------------------------

@use 'sass/variables/general';

// This replaces the often uninteresting default browser styles for <hr> with
// a line that inherits its colour from the text colour via currentColor.
//
// @see http://osvaldas.info/keeping-css-short-with-currentcolor

hr {
  width: 60%;
  height: 0.1em;

  margin: (general.$general-spacing * 4) auto;

  border: none;

  background-color: currentColor;

  opacity: 0.4;
}
