// -----------------------------------------------------------------------------
//   Base link partial
// -----------------------------------------------------------------------------

///
/// Wether to include the basic link styles.
///
$use-link-styles:           true  !default;

///
/// Whether to include fancy link underlines.
///
$use-fancy-link-underlines: true  !default;

///
/// Whether to include the image links styles.
///
$use-image-link-styles:     true  !default;

// Link styles. These are limited to the layout container so that we don't
// affect the administrative toolbar and other elements outside of what would be
// considered the site content itself. By using :link/:visited we can target
// only valid links, i.e. those that have a valid href. See:
// https://css-tricks.com/how-to-disable-links/
.layout-container {
  // Include link colours as custom properties in case they're useful for
  // JavaScript, etc.
  @include link-colour-custom-properties;

  :link, :visited {
    // Any links.
    &,
    // Currently active menu item links.
    &.is-active,
    // jQuery UI widget content.
    .ui-widget-content & {
      // Basic link styles.
      @if $use-link-styles == true {
        @include link;

        @include on-dark-colour-scheme {
          @include link-colours($background-colour-dark);
        }
      }

      // Apply fancy link underlines to all links, even if text-decoration-skip:
      // ink; is supported, as the 'link.underline' component gives us more
      // control over the underlines with things such as thickness.
      @if $use-fancy-link-underlines == true {
        @include fancy-link-underlines;
      }

      // Apply the image link mixin to all links.
      @if $use-image-link-styles == true {
        @include image-link;
      }
    }
  }

  // Include the fancy link underline custom properties on the root container.
  @if $use-fancy-link-underlines == true {
    @include fancy-link-underlines-root-custom-properties;
  }

  // Remove fancy link underlines from these links.
  .contextual-region .contextual .contextual-links,
  .tabs.primary li,
  .field--type-video-embed-field .field__item,
  .sf-dump,
  .#{$photoswipe-root-class} {
    :link, :visited {
      @if $use-fancy-link-underlines == true {
        @include remove-fancy-link-underlines;
      }
    }
  }
  .site-logo {
    @if $use-fancy-link-underlines == true {
      @include remove-fancy-link-underlines;
    }
  }
}

// Restore the native underlines to these elements.
.#{$photoswipe-root-class}__caption__center {
 :link, :visited {
   @if $use-fancy-link-underlines == true {
     text-decoration:  underline !important;
   }
 }
}

// PhotoSwipe has a dark background by default, so set link colours for that
// type of background.
.#{$photoswipe-root-class} {
 :link, :visited {
   @include link-colours($photoswipe-background-colour-theme-dark);
 }
}
