// -----------------------------------------------------------------------------
//   Variables - Colours
// -----------------------------------------------------------------------------

@use 'material.common/material.colour' as material-colour;
@use 'sass:color';
@use 'sass/helpers/colour';

///
/// Ambient.Impact orange.
///
$ambientimpact-orange: #c07300;

///
/// Material Design primary colour; using Ambient.Impact orange.
///
material-colour.$material-primary-colour: $ambientimpact-orange;

///
/// Foreground colour on light backgrounds.
///
/// This is faded a bit so it's not pure black.
///
colour.$foreground-colour-on-light: hsl(0, 0%, 30%);

///
/// Dark background colour.
///
/// This is set to a very dark grey but not pure black.
///
colour.$background-colour-dark: hsl(0, 0%, 10%);

///
/// Link colour on dark backgrounds when not highlighted/activated.
///
/// This overrides the default value of invert-lightness($link-base-colour)
/// which washes out Ambient.Impact orange a bit too much, while making it a
/// little too bright.
///
$link-normal-colour-on-dark: color.adjust(
  material-colour.$material-primary-colour, $lightness: 10%
);

@use 'link/link.var' as link-var with (
  $link-normal-colour-on-dark: $link-normal-colour-on-dark,
);
