// -----------------------------------------------------------------------------
//   Variables - Colours
// -----------------------------------------------------------------------------

$ambientimpact-orange:        #c07300;

$material-primary-colour:     $ambientimpact-orange;

$foreground-colour-on-light:  hsl(0, 0, 30%);
