// -----------------------------------------------------------------------------
//   Variables - Colours
// -----------------------------------------------------------------------------

///
/// Ambient.Impact orange.
///
$ambientimpact-orange: #c07300;

///
/// Material Design primary colour; using Ambient.Impact orange.
///
$material-primary-colour: $ambientimpact-orange;

///
/// Foreground colour on light backgrounds.
///
/// This is faded a bit so it's not pure black.
///
$foreground-colour-on-light: hsl(0, 0, 30%);

///
/// Dark background colour.
///
/// This is set to a very dark grey but not pure black.
///
$background-colour-dark: hsl(0, 0, 10%);

///
/// Feed link colour.
///
/// This uses currentColor as having another orange in addition to
/// Ambient.Impact orange doesn't look great.
///
$feed-link-colour: currentColor;
