// -----------------------------------------------------------------------------
//   Variables - General
// -----------------------------------------------------------------------------

///
/// Fancy heading shadow depth on narrower screens.
///
/// Currency used for the site title and project node titles.
///
$fancy-heading-shadow-depth-small: 1;

///
/// Fancy heading shadow depth on wider screens.
///
/// Currency used for the site title and project node titles.
///
$fancy-heading-shadow-depth-large: 2;

///
/// The shadow depth for full bleed panels/bars.
///
$full-bleed-panel-shadow-depth: 2;
