// -----------------------------------------------------------------------------
//   Variables - General
// -----------------------------------------------------------------------------

@use '../../../ambientimpact_base/stylesheets/global/typography' with (
  $font-size: 110%,
);
@use '../../../ambientimpact_base/stylesheets/global/typography.heading' as typography-heading with (
  $heading-font-sizes: (1.5em, 1.35em, 1.2em, 1em, 1em, 1em),
);

///
/// Fancy heading shadow depth on narrower screens.
///
/// Currency used for the site title and project node titles.
///
$fancy-heading-shadow-depth-small: 1;

///
/// Fancy heading shadow depth on wider screens.
///
/// Currency used for the site title and project node titles.
///
$fancy-heading-shadow-depth-large: 2;

///
/// The shadow depth for full bleed panels/bars.
///
$full-bleed-panel-shadow-depth: 2;
