// -----------------------------------------------------------------------------
//   Responsive typography partial
// -----------------------------------------------------------------------------

@use 'sass/helpers/typography.responsive' as typography-responsive-helper;

///
/// Whether to use responsive type.
///
$use-responsive-type: true !default;

///
/// The minimum responsive font scale.
///
/// @see {mixin} responsive-type
///
$font-scale-min: 1.067 !default;

///
/// The minimum responsive font scale.
///
/// @see {mixin} responsive-type
///
$font-scale-max: 1.2 !default;

///
/// The viewport width where the responsive font-size will not get any smaller.
///
/// This sets the point where responsive font size will be at $font-scale-min
/// and will not get any smaller, regardless of the viewport width below this
/// point. Essentially a minimum value clamp.
///
$font-scale-width-min: 35em !default;

///
/// The viewport width where the responsive font-size will not get any larger.
///
/// This sets the point where responsive font-size will be at $font-scale-max
/// and will not get any larger, regardless of the viewport width past this
/// point. Essentially a maximum value clamp.
///
$font-scale-width-max: 80em !default;

///
/// Output responsive type.
///
/// This outputs responsive type styles to the <html> element if
/// $use-responsive-type == true and @supports checks pass the
/// typography-responsive-helper.responsive-type mixin.
///
/// @require {mixin} typography-responsive-helper.responsive-type
/// @require {variable} $use-responsive-type
/// @require {variable} $font-scale-width-min
/// @require {variable} $font-scale-width-max
/// @require {variable} $font-scale-min
/// @require {variable} $font-scale-max
///
@mixin output {
  @if $use-responsive-type == true {
    html {
      @include typography-responsive-helper.responsive-type(
        font-size,
        $font-scale-width-min,
        $font-scale-width-max,
        $font-scale-min * 1em,
        $font-scale-max * 1em
      );
    }
  }
}
