// -----------------------------------------------------------------------------
//   Base horizontal rule partial
// -----------------------------------------------------------------------------

// <hr> defaults usually stink, so let's do something here. Based on:
// http://osvaldas.info/keeping-css-short-with-currentcolor
hr {
  width: 60%;
  height: 0.1em;

  margin: ($general-spacing * 4) auto;

  border: none;

  background-color: currentColor;

  opacity: 0.4;
}
