// -----------------------------------------------------------------------------
//   Services section styles
// -----------------------------------------------------------------------------

@use 'base:elements/list';
@use 'base:global/layout.vertical_spacing' as vertical-spacing;
@use 'base:global/typography';
@use '../global/reveal';
@use 'icon';
@use 'link/link.colour' as link-colour;
@use 'link/link.state' as link-state;
@use 'link/link.var' as link-var;
@use 'material.common/material.general' as material-general;
@use 'material.ripple' as material-ripple;
@use 'sass:color';
@use 'sass/helpers/colour';
@use 'sass/helpers/layout';
@use 'sass/variables/general';
@use 'sass/variables/motion';

// This lays out the services overview list as large icons in a grid, with solid
// colour backgrounds for the entire links.

///
/// Services overview link background colour.
///
$link-background-colour: link-var.$normal-colour-on-light;

///
/// Services overview link foreground colour.
///
$link-foreground-colour: colour.get-contrasting(
  $background:          $link-background-colour,
  $foreground-on-light: colour.$foreground-on-light,
  $foreground-on-dark:  colour.$foreground-on-dark
);

///
/// Services overview link icon size.
///
$link-icon-size: 8em;

///
/// Services overview link icon reveal animation duration.
///
$icon-reveal-animation-duration: 0.4s;

///
/// If true, will use subtle shadows to shade the services icon links.
///
$use-shading-shadows: false;

///
/// Services overview file icon reveal animation.
///
/// This zooms the icon in to full size while fading opacity in.
///
@keyframes services-overview-icon-file-reveal {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

///
/// Services overview wrench icon reveal animation.
///
/// This fades in the icon opacity while also rotating the wrench as if it's
/// turning a bolt.
///
@keyframes services-overview-icon-wrench-reveal {
  0% {
    opacity: 0;
    transform: rotate(-30deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(0deg);
  }
}

.services-overview {
  $self: &;

  @include list.unlisted;

  @include layout.use-grid {
    // Lay out the list items as a responsive grid, fitting as many as possible
    // into rows.
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    grid-gap: general.$general-spacing;

    // Remove the default list item spacing against previous as we use grid-gap.
    @include vertical-spacing.against-previous(
      '#{$self}__item',
      $spacing-small: 0,
      $spacing-large: 0
    );
  }

  &__item {
    @include layout.use-grid {
      // This causes the link to stretch to full row height if grid is used, so
      // that all links in a row are the same height regardless of contents.
      display: grid;
    }
  }

  &__link {
    display: block;

    padding: general.$general-spacing;

    border-radius: material-general.$border-radius;

    @if $use-shading-shadows == true {

      // This needs to be a bit lighter to compensate for the inset shadow.
      @include colour.set($background: color.scale(
        $link-background-colour, $lightness: +10%
      ));

    } @else {

      @include colour.set(
        $background: $link-background-colour
      );

    }

    // @todo Determine the performance impact of this.
    @if $use-shading-shadows == true {

      --shading-inset-shadow-colour:  rgba(0, 0, 0, 0.2);
      --shading-text-shadow-colour:   rgba(0, 0, 0, 0.3);
      --shading-icon-shadow-colour:   rgba(0, 0, 0, 0.2);

      box-shadow: 0 0 5em var(--shading-inset-shadow-colour) inset;

      text-shadow: 0 0 0.8em var(--shading-text-shadow-colour);

      @include icon.on-icon-icon {
        filter: drop-shadow(0 0 0.2em var(--shading-icon-shadow-colour));
      }

      // Increase shadow colour opacity a bit on dark colour scheme to attempt
      // to keep the effect looking about the same perceptually.
      @include colour.on-dark-scheme {
        --shading-inset-shadow-colour:  rgba(0, 0, 0, 0.4);
        --shading-text-shadow-colour:   rgba(0, 0, 0, 0.4);
      }

    }

    @include material-ripple.material-ripple;

    .layout-container & {
      @include link-colour.set(
        $background:                  $link-background-colour,
        $normal-on-dark:              $link-foreground-colour,
        $highlight-on-dark:           $link-foreground-colour,
        $active-on-dark:              $link-foreground-colour,
        $underline-normal-on-dark:    $link-foreground-colour,
        $underline-highlight-on-dark: $link-foreground-colour,
        $underline-active-on-dark:    $link-foreground-colour
      );

      @include link-state.highlight {
        @include colour.set(
          $background: link-var.$highlight-colour-on-light
        );
      }
    }

    font-weight: typography.$font-weight-strong;

    text-align: center;

  }

  // This for specificity over the default icon styles.
  a#{&}__link {
    @include icon.on-icon-container {
      @include icon.set-icon-stacked;
      @include icon.set-icon-size($size: $link-icon-size);
      @include icon.set-icon-text-indent(0);
      @include icon.set-icon-text-spacing(0);
    }
  }

  // If the user hasn't indicated they prefer reduced motion, add some fancy
  // animations to the large icons. The user does prefer reduced motion, fade in
  // animations will still occur, both from the page reveal and from the icons
  // loading in, so we don't need to create any additional alternate animation
  // @keyframes.
  //
  // @see https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion
  @media (prefers-reduced-motion: no-preference) {

    --services-icon-reveal-delay: #{reveal.$site-revealed};
    --services-icon-reveal-stagger-duration:
      #{$icon-reveal-animation-duration};
    --services-icon-reveal-duration:  #{$icon-reveal-animation-duration};

    // This removes the animation completely when the item is not yet visible
    // but is being observed, thus resetting the animation to its starting
    // position in case it starts to play before the Intersection Observer has
    // been initialized.
    &__item.content-visibility-observe--observing {
      &:not(.content-visibility-observe--visible) {
        @include icon.on-icon-icon {

          animation-name: none;

          opacity: 0;

        }
      }
    }

    @include icon.on-icon-icon {
      animation-timing-function:  motion.$easing-decelerate;
      animation-fill-mode:        backwards;
      animation-duration:         var(--services-icon-reveal-duration);
    }

    .ambientimpact-icon--name-file {
      @include icon.on-icon-icon {
        animation-name:   services-overview-icon-file-reveal;
        animation-delay:  var(--services-icon-reveal-delay);
      }
    }

    .ambientimpact-icon--name-wrench {
      @include icon.on-icon-icon {
        // Centre the rotate transform in the @keyframes to roughly where the
        // bolt would be.
        transform-origin: 20% 20%;

        animation-name:   services-overview-icon-wrench-reveal;
        // Stagger this so it comes in once the previous icon has completed its
        // reveal animation.
        animation-delay:  calc(
          var(--services-icon-reveal-delay) +
          var(--services-icon-reveal-stagger-duration)
        );
      }
    }
  }
}
