// -----------------------------------------------------------------------------
//   Services section styles
// -----------------------------------------------------------------------------

@use '../../../ambientimpact_base/stylesheets/elements/list';
@use '../../../ambientimpact_base/stylesheets/global/layout.vertical_spacing' as vertical-spacing;
@use '../../../ambientimpact_base/stylesheets/global/typography';
@use '../global/reveal';
@use 'icon';
@use 'link/link.colour' as link-colour;
@use 'link/link.state' as link-state;
@use 'link/link.var' as link-var;
@use 'material.common/material.general' as material-general;
@use 'material.ripple' as material-ripple;
@use 'sass/helpers/colour';
@use 'sass/helpers/layout';
@use 'sass/variables/general';
@use 'sass/variables/motion';

// This lays out the services overview list as large icons in a grid, with solid
// colour backgrounds for the entire links.

///
/// Services overview link background colour.
///
$services-overview-link-background-colour:
  link-var.$link-normal-colour-on-light;

///
/// Services overview link foreground colour.
///
$services-overview-link-foreground-colour: colour.get-contrasting-colour(
  $background:          $services-overview-link-background-colour,
  $foreground-on-light: colour.$foreground-colour-on-light,
  $foreground-on-dark:  colour.$foreground-colour-on-dark
);

///
/// Services overview link icon size.
///
$services-overview-link-icon-size: 8em;

///
/// Services overview link icon reveal animation duration.
///
$services-overview-icon-reveal-animation-duration: 0.4s;

///
/// Services overview file icon reveal animation.
///
/// This zooms the icon in to full size while fading opacity in.
///
@keyframes services-overview-icon-file-reveal {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

///
/// Services overview wrench icon reveal animation.
///
/// This fades in the icon opacity while also rotating the wrench as if it's
/// turning a bolt.
///
@keyframes services-overview-icon-wrench-reveal {
  0% {
    opacity: 0;
    transform: rotate(-30deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(0deg);
  }
}

.services-overview {
  $self: &;

  @include list.unlisted-list;

  @include layout.use-grid {
    // Lay out the list items as a responsive grid, fitting as many as possible
    // into rows.
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    grid-gap: general.$general-spacing;

    // Remove the default list item spacing against previous as we use grid-gap.
    @include vertical-spacing.vertical-spacing-against-previous(
      '#{$self}__item',
      $spacing-small: 0,
      $spacing-large: 0
    );
  }

  &__item {
    @include layout.use-grid {
      // This causes the link to stretch to full row height if grid is used, so
      // that all links in a row are the same height regardless of contents.
      display: grid;
    }
  }

  &__link {
    display: block;

    padding: general.$general-spacing;

    border-radius: material-general.$material-border-radius;

    @include colour.set-colours(
      $background: $services-overview-link-background-colour
    );

    @include material-ripple.material-ripple;

    .layout-container & {
      @include link-colour.link-colours(
        $background:                $services-overview-link-background-colour,
        $normal-on-dark:            $services-overview-link-foreground-colour,
        $hover-on-dark:             $services-overview-link-foreground-colour,
        $active-on-dark:            $services-overview-link-foreground-colour,
        $underline-normal-on-dark:  $services-overview-link-foreground-colour,
        $underline-hover-on-dark:   $services-overview-link-foreground-colour,
        $underline-active-on-dark:  $services-overview-link-foreground-colour
      );

      @include link-state.link-hover {
        @include colour.set-colours(
          $background: link-var.$link-hover-colour-on-light
        );
      }
    }

    font-weight: typography.$font-weight-strong;

    text-align: center;

  }

  // This for specificity over the default icon styles.
  a#{&}__link {
    @include icon.on-icon-container {
      @include icon.set-icon-stacked;
      @include icon.set-icon-size($size: $services-overview-link-icon-size);
      @include icon.set-icon-text-indent(0);
      @include icon.set-icon-text-spacing(0);
    }
  }

  // If the user hasn't indicated they prefer reduced motion, add some fancy
  // animations to the large icons. The user does prefer reduced motion, fade in
  // animations will still occur, both from the page reveal and from the icons
  // loading in, so we don't need to create any additional alternate animation
  // @keyframes.
  //
  // @see https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion
  @media (prefers-reduced-motion: no-preference) {
    .ambientimpact-icon--name-file {
      @include icon.on-icon-icon {
        animation-name:             services-overview-icon-file-reveal;
        animation-timing-function:  motion.$easing-decelerate;
        animation-fill-mode:        backwards;
        animation-delay:            reveal.$site-revealed;
        animation-duration:
          $services-overview-icon-reveal-animation-duration;
      }
    }

    .ambientimpact-icon--name-wrench {
      @include icon.on-icon-icon {
        // Centre the rotate transform in the @keyframes to roughly where the
        // bolt would be.
        transform-origin: 20% 20%;

        animation-name:             services-overview-icon-wrench-reveal;
        animation-timing-function:  motion.$easing-decelerate;
        animation-fill-mode:        backwards;
        // Stagger this so it comes in once the previous icon has completed its
        // reveal animation.
        animation-delay:            reveal.$site-revealed +
          $services-overview-icon-reveal-animation-duration;
        animation-duration:
          $services-overview-icon-reveal-animation-duration;
      }
    }
  }
}
