// -----------------------------------------------------------------------------
//   Taxonomy tags
// -----------------------------------------------------------------------------

// Tags fields.
.field--name-field-web-tags {
  // If Grid is not supported, we have to contain the floated label and items or
  // they'll cause all sorts of float-based mayhem.
  @include contain-floats;

  // We have to use Grid to lay out the label + field content because if we
  // leave this as floats, it'll shrink-wrap the tag grid container and force it
  // to single-column.
  @include use-grid {
    display: grid;
    grid-template-columns: auto 1fr;
  }

  @supports (
    columns: $tags-list-column-max-count $tags-list-column-min-width
  ) {
    // Shift the label and items up so that the first row doesn't cause extra
    // space between it and any other field preceding this one.
    .field__label,
    .field__items {
      margin-top:    -$tags-list-gap;
    }

    // Match the label with the tag list top padding and add horizontal padding
    // to also match.
    .field__label {
      padding-top:    $tags-list-gap;

      @include root-conditions(('[dir=ltr]'), 'html') {
        padding-right:  $tags-list-gap;
      }

      @include root-conditions(('[dir=rtl]'), 'html') {
        padding-left:   $tags-list-gap;
      }
    }
  }

  .field__items {
    @extend %tags-list;

    .field__item {
      @extend %tags-list__item;
    }
  }
}

// Tags views.
.view-tags,
.view-web-tags {
  .view-content {
    @extend %tags-list;

    .views-field {
      @extend %tags-list__item;
    }
  }
}
