// -----------------------------------------------------------------------------
//   Taxonomy tags
// -----------------------------------------------------------------------------

// Tags fields.
.field--name-field-web-tags {

  display:    flex;
  flex-wrap:  wrap;

  // If flexbox with gap properties is not supported, we have to contain the
  // floated label and items.
  @include contain-floats;

  .field__items {

    .field__item {

      @include root-conditions(('[dir=ltr]'), 'html') {
        float: left;
        padding-right: var(--field-column-gap);
      }

      @include root-conditions(('[dir=rtl]'), 'html') {
        float: right;
        padding-left: var(--field-column-gap);
      }

    }

    @include supports-flexbox-gap {

      display:    flex;
      flex-wrap:  wrap;

      column-gap: var(--field-column-gap);
      row-gap:    var(--field-row-gap);

      .field__item {

        @include root-conditions(('[dir=ltr]'), 'html') {
          float: none;
          padding-right: 0;
        }

        @include root-conditions(('[dir=rtl]'), 'html') {
          float: right;
          padding-none: 0;
        }

      }
    }

  }

}

// Tags views.
.view-tags,
.view-web-tags {
  .view-content {
    @extend %tags-list;

    .views-field {
      @extend %tags-list__item;
    }
  }
}
