// -----------------------------------------------------------------------------
//   Media field partial
// -----------------------------------------------------------------------------

///
/// Media field background colour.
///
$media-field-background-colour: black !default;

///
/// Media field spacing.
///
/// This is used as the overall field padding and spacing between field items.
/// Defaults to $layout-gutter to look consistent with the page layout spacing.
///
$media-field-spacing: $layout-gutter !default;

// Image and video embed fields. Form wrappers are excluded as the same classes
// are used on those as well but this is purely output styling.
.field--type-image:not(.form-wrapper),
.field--type-video-embed-field:not(.form-wrapper) {
  $local-stacking-order:  background, content;

  margin:   $general-spacing      0;
  padding:  $media-field-spacing  0;

  @include set-colours(
    $background:  $media-field-background-colour
  );

  :link, :visited {
    @include link-colours($media-field-background-colour);

    // Remove fancy link underlines.
    @include remove-fancy-link-underlines;
  }

  img {
    // Ensure images are always the full width of the field item.
    width:  100%;
  }

  // Anything that isn't the project images field.
  &:not(.field--name-field-project-images) {
    @include horizontal-bleed-background(
      $colour:  $media-field-background-colour,
      $z-index: index($local-stacking-order, background),
      $shadow:  true
    );
  }
  // Project images field.
  &.field--name-field-project-images {
    @include horizontal-bleed-background(
      $colour:  $media-field-background-colour,
      $z-index: index($local-stacking-order, background),
      // Don't use the topmost shadow, as that would show on top of the node
      // title. See _node_project.scss for the topmost shadow.
      $shadow:  (false, true, true)
    );
  }

  .field__item {
    position: relative;

    z-index: index($local-stacking-order, content);
  }

  // Spacing between field items and any preceding element (usually another
  // field item).
  *:not(.visually-hidden):not(.hidden) + .field__item {
    @include vertical-spacing(
      $spacing-small: $media-field-spacing,
      $spacing-large: $media-field-spacing,
    );
  }

  .field__item, .intrinsic-ratio, :link {
    margin-left:  auto;
    margin-right: auto;
  }

  :link/*:not(.contextual-links__link)*/, img {
    display: block;
  }
}

// Image field-only styles.
.field--type-image:not(.form-wrapper) {
  figcaption {
    text-align: center;

    // Set a bottom margin in case this is a multi-item field, to make it
    // easier to tell which item this caption applies to.
    margin-bottom: $general-spacing * 2;

    // AdaptiveTheme captions. Set caption links back to inline. The class
    // is for specificity.
    // &.caption a {
    //   display: inline;
    // }
  }

  .field__item:last-child {
    figcaption {
      // Remove the bottom margin on the last item's caption.
      margin-bottom: 0;
    }
  }

  * + figcaption {
    margin-top: $media-field-spacing;
  }

  figure > :not(figcaption) a,
  figure > a {
    // Remove fancy link underlines.
    @include remove-fancy-link-underlines;
  }

  img, picture {
    // This is in case a transparent image is used, which normally assumes a
    // light background colour.
    @include set-colours(
      $background:  white
    );
  }
}

// Project image field styles. The form element is excluded so as to only apply
// to the output.
.field--name-field-project-images:not(.form-wrapper) {
  margin-top: 0;
  padding:  ($media-field-spacing / 2) 0;

  @include contain-floats;

  // Remove field item spacing, since we use a different method below.
  *:not(.visually-hidden):not(.hidden) + .field__item {
    margin-top: 0;
  }

  .field__item {
    float:  left;

    width: 50%;
    width: calc(50% - (#{$media-field-spacing / 2}));

    &:nth-child(odd) {
      // Use calc() to ensure we only apply the margin if calc() is
      // supported, using the second width above. We also multiply it by 0.99 to
      // fix a rounding error observed in Firefox Developer Edition 68.0b5
      // (64-bit) as of 2019-05-31.
      margin-right: calc(#{$media-field-spacing} * 0.99);

      // If this odd item is the last child, make it span the whole row.
      &:last-child {
        float:        none;
        width:        100%;
        margin-right: auto;
      }
    }

    padding:  ($media-field-spacing / 2) 0;
  }
}
