// -----------------------------------------------------------------------------
//  Font definitions partial
// -----------------------------------------------------------------------------

///
/// Fonts directory path relative to this partial.
///
$path: '../../fonts';

@font-face {
  font-family:  'Furore';
  font-weight:  normal;
  font-style:   normal;

  src:  url('#{$path}/furore/furore.eot');
  src:  url('#{$path}/furore/furore.eot?#iefix')
          format('embedded-opentype'),
        url('#{$path}/furore/furore.woff')
          format('woff'),
        url('#{$path}/furore/furore.ttf')
          format('truetype'),
        url('#{$path}/furore/furore.svg#furoreregular')
          format('svg');
}
