// -----------------------------------------------------------------------------
//   Site header
// -----------------------------------------------------------------------------

@use 'headroom';
@use 'sass:list';
@use 'sass/patterns/horizontal_bleed_background' as horizontal-bleed-background;
@use '../variables/general' as *;

///
/// Header stacking order. Later in the list means a higher z-index.
///
$stacking-order: header-top-shadow, region-header, site-name;

header[role='banner'] {
  position: relative;

  // This adds a shadow behind the top edge of the navigation bar. See
  // _navigation.scss for the bottom half of the shadow. This is done to allow
  // the top shadow to not overlap the site name, but appear underneath it, so
  // that it appears the site name is part of the same sheet as the navigation
  // bar.
  &::after {
    @include horizontal-bleed-background.horizontal-bleed-background-top-peek-shadow(
      $z-index: list.index($stacking-order, header-top-shadow),
      $depth:   $full-bleed-panel-shadow-depth
    );
  }

  // This syncs up the site header with the menu bar Headroom behaviour, so
  // quick scrolling near the top won't show them failing to overlap.
  &.header--menu-bar-sticky {
    @include headroom.headroom-base;

    // Required to prevent the header getting shifted down when viewport
    // displacement is active and Headroom.js is attached.
    --headroom-top: 0;

    // Sass will place this above the @include above, so we have to use the
    // nuclear option to make sure this is relative.
    position: relative !important;
  }

  &.header--unpinned {
    @include headroom.headroom-unpinned;
  }

  // This is required so that the front page animation doesn't mess up the
  // ordering of the top shadow, putting it on top of the site name.
  .region-header {
    position: relative;
    z-index:  list.index($stacking-order, region-header);
  }
}
