// -----------------------------------------------------------------------------
//   Primary site menu
// -----------------------------------------------------------------------------

///
/// Primary menu item font size when large font size breakpoint doesn't match.
///
$menu-primary-font-size-small:  100%;

///
/// Primary menu item font size when large font size breakpoint matches.
///
$menu-primary-font-size-large:  110%;

///
/// Primary menu item horizontal padding.
///
$menu-primary-item-padding-x:   $layout-gutter;

///
/// Primary menu item vertical padding.
///
$menu-primary-item-padding-y:   $layout-gutter * 0.8;

///
/// Primary menu item underline height, used to indicate active menu item.
///
/// Note that this is 4px + 1px for the Chrome rounding error fix.
///
$menu-primary-item-underline-height:  5px;

@include add-breakpoints((
  // At which height to start using $menu-primary-font-size-large.
  'menu-primary-font-size-large': get-breakpoint-value('height-small')
));

///
/// Target primary menu items when they're the active menu item.
///
/// @content
///   The content to wrap in selectors.
///
@mixin menu-primary-item-is-active {
  &.is-active,
  &.active-trail {
    @content
  }
}

///
/// Set primary menu item colour.
///
@mixin menu-primary-item-colour {
  color:  $foreground-colour-on-dark;

  @include menu-primary-item-is-active {
    color:  $foreground-colour-on-dark;
  }
}

///
/// Set primary menu item indicator transition properties.
///
@mixin menu-primary-item-indicator-transition {
  transition-duration: 0.2s;

  transition-property: height;
}

///
/// Set primary menu item indicator as active, i.e. current/hovered/focussed.
///
@mixin menu-primary-item-indicator-active {
  height: $menu-primary-item-underline-height;

  // This is necessary to override the default instant transition in on links,
  // so we transition in and out at the same rate, which looks better for this.
  @include menu-primary-item-indicator-transition;
}

.region-primary-menu {
  ///
  /// The local stacking order of elements; later in the list is higher.
  ///
  $local-stacking-order: background, content;

  margin-top:     0;
  margin-bottom:  3em;

  @include horizontal-bleed-background(
    $colour:  $ambientimpact-orange,
    $z-index: index($local-stacking-order, background),
    // Don't use the topmost shadow, as that would show on top of the site
    // title. See _site_branding.scss for the topmost shadow.
    $shadow:  (false, true, true)
  );

  &.headroom {
    // Make sure we're sticky if Headroom is active, as the horizontal-
    // bleed-background overrides it.
    position: sticky;
  }

  .menu {
    position:   relative;

    display:    flex;

    // Override base, as this cuts off the right side of the menu. D:
    max-width:  none;

    margin:     0 (-$menu-primary-item-padding-x);

    z-index:    index($local-stacking-order, content);

    // This allows the nav items to scroll horizontally.
    overflow-x: auto;

    // Clip rounding error fixes below so they don't overflow.
    overflow-y: hidden;

    // Space items evenly.
    // IMPORTANT: space-around causes some odd overflow hiding.
    justify-content: space-between;

    font-size: $menu-primary-font-size-small;

    @include media('>=menu-primary-font-size-large') {
      font-size: $menu-primary-font-size-large;
    }

    .menu-item {
      // Override Classy.
      padding-top: 0;
    }

    a {
      position: relative;

      display:  block;

      padding:  $menu-primary-item-padding-y $menu-primary-item-padding-x;

      @include menu-primary-item-colour;

      @include link-hover {
        @include menu-primary-item-colour;
      }

      // Remove fancy link underlines.
      @include remove-fancy-link-underlines;

      // This pseudo-element is used to create the underline for current and
      // hovered/focussed menu item links.
      &::after {
        content:  '';

        position: absolute;

        left:     $menu-primary-item-padding-x;
        right:    $menu-primary-item-padding-x;
        // This ensures Chrome on Android hides its 1px rounding error.
        bottom:   -1px;

        height:   0;

        background-color: $foreground-colour-on-dark;

        // Set the transition for the indicator when interaction has ceased. The
        // menu-primary-item-indicator-active mixin sets the transition in.
        @include menu-primary-item-indicator-transition;
      }

      // This make the indicator visible on an item when it's being interacted
      // with.
      @include link-hover {
        &::after {
          @include menu-primary-item-indicator-active;
        }
      }
    }

    // This makes the indicator visible on the current active path when the menu
    // isn't marked as having an item interacted with. Note that the hover/focus
    // above will ensure this item still has the indicator when it's being
    // interacted with.
    &:not(.menu--has-active-item) a {
      @include menu-primary-item-is-active {
        &::after {
          @include menu-primary-item-indicator-active;
        }
      }
    }
  }
}
