// -----------------------------------------------------------------------------
//   Primary site menu - menu items
// -----------------------------------------------------------------------------

@use '../../../ambientimpact_base/stylesheets/global/layout';
@use '../../../ambientimpact_base/stylesheets/global/menus';
@use 'icon';
@use 'link/link.colour' as link-colour;
@use 'link/link.state' as link-state;
@use 'material.ripple' as material-ripple;
@use 'menu_primary' as menu-primary;
@use 'sass/helpers/colour';
@use 'sass/helpers/selector';
@use 'sass/variables/general';

///
/// Primary menu item foreground colour.
///
$foreground-colour: colour.get-contrasting-colour(
  $background:          menu-primary.$background-colour,
  $foreground-on-light: colour.$foreground-colour-on-light,
  $foreground-on-dark:  colour.$foreground-colour-on-dark
);

///
/// Primary menu item horizontal padding.
///
$padding-x: layout.$gutter;

///
/// Primary menu item vertical padding.
///
$padding-y: general.$general-spacing * 0.75;

///
/// Primary menu item indicator thickness, used to indicate active menu item.
///
$indicator-thickness: 0.2em;

///
/// Set primary menu item colours.
///
@mixin colours {
  @include link-colour.set(
    $background:      menu-primary.$background-colour,
    $normal-on-dark:  $foreground-colour,
    $hover-on-dark:   $foreground-colour
  );
}

///
/// Set primary menu item indicator transition properties.
///
@mixin indicator-transition {
  transition-duration: 0.1s;

  transition-property: transform;
}

///
/// Set primary menu item indicator as active for primary menu items.
///
@mixin primary-indicator-active {
  // Using scale rather than translate as that has less of a chance of
  // accidentally being shown if the browser has issues rendering, e.g. Firefox
  // during and after the front page animations.
  transform: scaleY(1);

  // This is necessary to override the default instant transition in on links,
  // so we transition in and out at the same rate, which looks better for this.
  @include indicator-transition;
}

///
/// Set primary menu item indicator as inactive for primary menu items.
///
@mixin primary-indicator-inactive {
  transform: scaleY(0);
}

///
/// Set primary menu item indicator as active for secondary menu items.
///
@mixin secondary-indicator-active {
  transform: scaleX(1);

  // This is necessary to override the default instant transition in on links,
  // so we transition in and out at the same rate, which looks better for this.
  @include indicator-transition;
}

///
/// Set primary menu item indicator as inactive for secondary menu items.
///
@mixin secondary-indicator-inactive {
  transform: scaleX(0);
}

///
/// Set primary menu item indicator state when menu is :hover or :focus-within.
///
@mixin primary-active-path-indicator-hover-focus-within {
  @include menus.is-item-active-path {
    &::after {
      @include primary-indicator-inactive;
    }

    @include link-state.hover {
      &::after {
        @include primary-indicator-active;
      }
    }
  }
}

///
/// Set primary menu item indicator state when menu is :hover or :focus-within.
///
@mixin secondary-active-path-indicator-hover-focus-within {
  @include menus.is-item-active-path {
    &::after {
      @include secondary-indicator-inactive;
    }

    @include link-state.hover {
      &::after {
        @include secondary-indicator-active;
      }
    }
  }
}

///
/// Transform a primary menu sub-menu indicator to its open state.
///
@mixin sub-menu-indicator-open {
  // Rotate the icon 180 degrees when the sub-menu is open, so that the icon
  // points up rather than down.
  @include icon.on-icon-icon {
    transform: rotate(180deg);
  }
}

.region-primary-menu {
  // Top level menus have negative lateral margins to pull items (which have
  // lateral padding) flush with the sides of the block, which lines up the text
  // edges with the gutter.
  .block > .menu {
    @include selector.root-conditions(('[dir=ltr]'), 'html') {
      margin-left:  -$padding-x;
      margin-right: -$padding-x;
    }

    // We have to specify the RTL selector so that we override Classy's menu
    // margins.
    @include selector.root-conditions(('[dir=rtl]'), 'html') {
      margin-left:  -$padding-x;
      margin-right: -$padding-x;
    }
  }

  // All menu items, regardless of depth.
  .menu-item {
    // Remove padding added by Classy.
    padding-top: 0;

    @include menus.is-item-active-path {
      @include colours;
    }
  }

  // Menu items that are expanded, meaning they have a rendered sub-menu.
  .menu-item--expanded {
    // Remove the default Drupal expanded indicator.
    list-style: none;

    @include icon.on-icon-container {
      @include icon.set-icon-display(block);

      @include icon.set-icon-vertical-alignment($align: centre);
      @include icon.set-icon-size(1.2em);

      // For drop-down menus, icons look better after the text, rather than
      // before.
      @include icon.set-icon-order(text-first);
    }

    @include icon.on-icon-text {
      white-space: nowrap;
    }

    @include icon.icon-transform-transition;

    // Transform the sub-menu indicator to its open state when a sub-menu is
    // open.
    &:not(.menu-item--menu-closed):hover > a,
    &:not(.menu-item--menu-closed):hover > button,
    &:not(.menu-item--menu-closed) > a:focus,
    &:not(.menu-item--menu-closed) > button:focus,
    &:not(.menu-item--menu-closed).ally-focus-within > a,
    &:not(.menu-item--menu-closed).ally-focus-within > button,
    &.menu-item--menu-open > a,
    &.menu-item--menu-open > button {
      @include sub-menu-indicator-open;
    }
    &:not(.menu-item--menu-closed):focus-within > a,
    &:not(.menu-item--menu-closed):focus-within > button {
      @include sub-menu-indicator-open;
    }
  }

  // Hide underlines on menu items.
  .menu-item a {
    text-decoration: none;
  }

  .menu-item > a, // Specificity for colours.
  .menu-item > button {
    position: relative;

    display:  block;

    padding:  $padding-y $padding-x;

    @include colours;

    @include material-ripple.material-ripple;

    // Don't wrap to new lines since the container scrolls and has overflow
    // functionality.
    white-space: nowrap;

    // This ensures the indicator is above the margin-top: -1px; on the any
    // sub-menu, so that it doesn't clipped by the sub-menu being on top of
    // the indicator.
    z-index: 1;

    // This pseudo-element is used to create the underline for current and
    // hovered/focussed menu item links.
    &::after {
      content:  '';

      position: absolute;

      background-color: colour.$foreground-colour-on-dark;

      will-change:  transform;

      // Set the transition for the indicator when interaction has ceased. The
      // primary-indicator-active mixin sets the transition in.
      @include indicator-transition;
    }
  }

  // Remove default <button> styling from the overflow toggle and any other
  // buttons.
  .menu-item > button {
    border-width:     0;
    border-radius:    0; // Firefox/Gecko.
    background-color: transparent;
  }

  // Top level menu items.
  .block > .menu > .menu-item {
     > a,
     > button {
      // Primary (top level) item indicators. These are horizontal lines beneath
      // the text of the menu item text.
      &::after {
        left:     $padding-x;
        right:    $padding-x;
        bottom:   0;

        height:   $indicator-thickness;

        transform-origin: bottom center;

        // Hidden by default.
        @include primary-indicator-inactive;
      }

      // This makes the indicator visible on an item when it's being interacted
      // with.
      @include link-state.hover {
        &::after {
          @include primary-indicator-active;
        }
      }
    }

    @include menus.is-item-active-path {
      // Active path item indicators are visible by default. This is necessary
      // in case the browser doesn't support :focus-within and our polyfill
      // doesn't get applied.
      &::after {
        @include primary-indicator-active;
      }
    }
  }

  // Second level and deeper menu items.
  .menu .menu .menu-item {
    > a,
    > button {
      // Secondary (second level and deeper) indicators. These are vertical
      // lines to the left (in LTR) or to the right (in RTL) of the menu item
      // text.
      &::after {
        top:      $padding-y;
        bottom:   $padding-y;

        width:    $indicator-thickness;

        @include selector.root-conditions(('[dir=ltr]'), 'html') {
          left:   0;

          transform-origin: center left;
        }
        @include selector.root-conditions(('[dir=rtl]'), 'html') {
          right:  0;

          transform-origin: center right;
        }

        // Hidden by default.
        @include secondary-indicator-inactive;
      }

      // This makes the indicator visible on an item when it's being interacted
      // with.
      @include link-state.hover {
        &::after {
          @include secondary-indicator-active;
        }
      }
    }

    @include menus.is-item-active-path {
      // Active path item indicators are visible by default. This is necessary
      // in case the browser doesn't support :focus-within and our polyfill
      // doesn't get applied.
      &::after {
        @include secondary-indicator-active;
      }
    }
  }

  // Top level menus.
  .block > .menu {
    // Hide the indicator when the menu matches :focus-within. Note that this
    // has to be a separate rule from the rest so that a browser that doesn't
    // support the selector doesn't ignore the other selectors, which it should
    // understand.
    &:focus-within > .menu-item {
      @include primary-active-path-indicator-hover-focus-within;
    }
    // Hover and polyfilled :focus-within.
    &:hover,
    &.ally-focus-within {
      > .menu-item {
        @include primary-active-path-indicator-hover-focus-within;
      }
    }
  }

  // Nested menus.
  .menu .menu {
    // Hide the indicator when the menu matches :focus-within. Note that this
    // has to be a separate rule from the rest so that a browser that doesn't
    // support the selector doesn't ignore the other selectors, which it should
    // understand.
    &:focus-within > .menu-item {
      @include secondary-active-path-indicator-hover-focus-within;
    }
    // Hover and polyfilled :focus-within.
    &:hover,
    &.ally-focus-within {
      > .menu-item {
        @include secondary-active-path-indicator-hover-focus-within;
      }
    }
  }
}
