// -----------------------------------------------------------------------------
//   Primary site menu
// -----------------------------------------------------------------------------

///
/// Primary menu item font size when large font size breakpoint doesn't match.
///
$menu-primary-font-size-small:  100%;

///
/// Primary menu item font size when large font size breakpoint matches.
///
$menu-primary-font-size-large:  110%;

///
/// Primary menu item horizontal padding.
///
$menu-primary-item-padding-x:   $layout-gutter;

///
/// Primary menu item vertical padding.
///
$menu-primary-item-padding-y:   $layout-gutter * 0.8;

///
/// Primary menu item underline height, used to indicate active menu item.
///
/// Note that this is 4px + 1px for the Chrome rounding error fix.
///
$menu-primary-item-underline-height:  5px;

///
/// Primary menu item current indicator transition duration.
///
$menu-primary-menu-primary-item-indicator-transition-duration: 0.2s;

@include add-breakpoints((
  // At which height to start using $menu-primary-font-size-large.
  'menu-primary-font-size-large': get-breakpoint-value('height-small')
));

@mixin menu-primary-item-colour {
  &,
  &.is-active {
    color:  $foreground-colour-on-dark;
  }
}

@mixin menu-primary-item-indicator-transition {
  // This needs to be set here or the default hover/focus transition duration
  // will cause this to be instant.
  transition-duration: $menu-primary-menu-primary-item-indicator-transition-duration;

  transition-property: height;
}

@mixin menu-primary-item-indicator-active {
  height: $menu-primary-item-underline-height;

  @include menu-primary-item-indicator-transition;
}

@mixin menu-primary-item-is-active {
  &.is-active,
  &.active-trail {
    @content
  }
}

.region-primary-menu {
  ///
  /// The local stacking order of elements; later in the list is higher.
  ///
  $local-stacking-order: background, content;

  margin-top:     0;
  margin-bottom:  3em;

  @include horizontal-bleed-background(
    $colour:  $ambientimpact-orange,
    $z-index: index($local-stacking-order, background),
    // Don't use the topmost shadow, as that would show on top of the site
    // title. See _site_branding.scss for the topmost shadow.
    $shadow:  (false, true, true)
  );

  &.headroom {
    // Make sure we're sticky if Headroom is active, as the horizontal-
    // bleed-background overrides it.
    position: sticky;
  }

  .menu {
    position:   relative;

    display:    flex;

    // Override base, as this cuts off the right side of the menu. D:
    max-width:  none;

    margin:     0 (-$menu-primary-item-padding-x);

    z-index:    index($local-stacking-order, content);

    // This allows the nav items to scroll horizontally.
    overflow-x: auto;

    // Clip any rounding error fixes below so they don't overflow.
    overflow-y: hidden;

    // Space items evenly.
    // IMPORTANT: space-around causes some odd overflow hiding.
    justify-content: space-between;

    font-size: $menu-primary-font-size-small;

    @include media('>=menu-primary-font-size-large') {
      font-size: $menu-primary-font-size-large;
    }

    .menu-item {
      // Override Classy.
      padding-top: 0;
    }

    a {
      position: relative;

      display:  block;

      padding:  $menu-primary-item-padding-y $menu-primary-item-padding-x;

      @include menu-primary-item-colour;

      @include link-hover {
        @include menu-primary-item-colour;
      }

      // Remove fancy link underlines.
      @include remove-fancy-link-underlines;

      // This pseudo-element is used to create the underline for current and
      // hovered/focussed menu item links.
      &::after {
        content:  '';

        position: absolute;

        left:     $menu-primary-item-padding-x;
        right:    $menu-primary-item-padding-x;
        // This ensures Chrome on Android hides its 1px rounding error.
        bottom:   -1px;

        height:   0;

        background-color: $foreground-colour-on-dark;

        @include menu-primary-item-indicator-transition;
      }

      // This is required to have higher specificity than the default link
      // transition properties.
      @include menu-primary-item-is-active {
        &::after {
          @include menu-primary-item-indicator-transition;
        }
      }

      @include link-hover {
        &::after {
          @include menu-primary-item-indicator-active;
        }
      }
    }

    &:not(.menu--has-active-item) a {
      @include menu-primary-item-is-active {
        &::after {
          @include menu-primary-item-indicator-active;
        }
      }
    }
  }
}
