// -----------------------------------------------------------------------------
//   Project nodes
// -----------------------------------------------------------------------------

@use '../../../ambientimpact_base/stylesheets/global/layout';
@use 'field_media' as field-media;
@use 'link/link.colour' as link-colour;
@use 'material.common/material.shadow' as material-shadow;
@use 'sass:color';
@use 'sass:list';
@use 'sass/helpers/breakpoint';
@use 'sass/helpers/colour';
@use 'sass/helpers/hide';
@use 'sass/patterns/horizontal_bleed_background' as horizontal-bleed-background;
@use 'sass/variables/motion';
@use '../variables/general' as *;

///
/// Project node elements stacking order.
///
/// Later in the list means a higher z-index.
///
$stacking-order: top-shadow, title, content, sentinel;

///
/// Project node title link colour on light backgrounds when not interacted.
///
$title-link-normal-colour-on-light:
  field-media.$background-colour-on-light;

///
/// Project node title link colour on light backgrounds when hovered/focused.
///
$title-link-hover-colour-on-light: color.mix(
  field-media.$background-colour-on-light,
  colour.$background-colour-light,
  70%
);

///
/// Project node title link colour on light backgrounds when activated.
///
/// @see {function} link-colour.get-link-active-colour
///
$title-link-active-colour-on-light: auto;

///
/// Project node title link colour on dark backgrounds when not interacted.
///
$title-link-normal-colour-on-dark: color.mix(
  field-media.$background-colour-on-dark,
  colour.$foreground-colour-on-dark,
  70%
);

///
/// Project node title link colour on dark backgrounds when hovered/focused.
///
$title-link-hover-colour-on-dark: color.mix(
  field-media.$background-colour-on-dark,
  colour.$foreground-colour-on-dark,
  40%
);

///
/// Project node title link colour on dark backgrounds when activated.
///
/// @see {function} link-colour.get-link-active-colour
///
$title-link-active-colour-on-dark: auto;

@include breakpoint.add((
  // The viewport width at which project titles switch between having a
  // responsive width that never overflows the layout width (wider than this
  // value) and allowing the project titles to overflow the layout horizontally
  // to maintain readability but fade out the overflow off of the edge of the
  // layout (narrower than this value).
  'project-title-height-constraint': 30em
));

.page-node-type-project:not(.page-node-edit) .page-title,
.node--type-project .node__title {
  color: field-media.$background-colour-on-light;

  @include colour.on-dark-colour-scheme {
    color: $title-link-normal-colour-on-dark;
  }

  // Remove any vertical margins on the heading elements.
  margin-top:     0;
  margin-bottom:  0;
}

.page-node-type-project:not(.page-node-edit) .block-page-title-block,
.node--type-project .node__title {
  position: relative;

  // If mask-image with a gradient is supported, use that to fade out any text
  // that's wider than the layout.
  $mask-gradient: linear-gradient(
    to right,
    transparent,
    black layout.$gutter,
    black calc(100vw - layout.$gutter),
    transparent
  );

  @supports (mask-image: $mask-gradient) and (width: 100vw) {
    @include breakpoint.on('<=project-title-height-constraint') {
      overflow: hidden;

      // Undo _layout.scss since we need to span the layout gutter as well.
      max-width: none;

      width: 100vw;

      // Compensate for padding.
      margin-top:   layout.$gutter * -1;
      margin-left:  layout.$gutter * -1;
      margin-right: layout.$gutter * -1;

      // Padding on all sides but the bottom so that the shadows don't get cut
      // off by the overflow: hidden, in addition to fading out any overflow.
      padding-top:    layout.$gutter;
      padding-left:   layout.$gutter;
      padding-right:  layout.$gutter;

      box-sizing: border-box;

      mask-image: $mask-gradient;

    }
  }

  // Hide the actual heading text if it's been wrapped in this element. Note
  // that the text is still visible in the accessibility tree for assistive
  // software like screen readers. The <svg> title has aria-hidden="true", as
  // it exists for purely visual reasons.
  .field__title-text {
    @include hide.me;
  }

  .field__title-svg {
    // Override the inline display: none, which exists in case stylesheets don't
    // load for whatever reason.
    display: block !important;

    // This overrides the inline height to make it responsive, based on the
    // width.
    height: auto;

    // Translate down by the amount provided in --bleed-vertical-adjust plus a
    // bit more to try and hide and align the bleed path with the top of the
    // media field below it. This is defined as a custom property so we can
    // easily combine it with the scroll proxy transform.
    --bleed-transform: translateY(calc(
      var(--bleed-vertical-adjust, 0%) + 2.5%
    ));
    transform: var(--bleed-transform);

    path:not(.bleed) {
      // Automatically inherit the foreground/text colour set on ancestor
      // elements.
      fill: currentColor;
    }

    // The bleed path should not change colour during interactions.
    path.bleed {
      fill: $title-link-normal-colour-on-light;

      @include colour.on-dark-colour-scheme {
        fill: $title-link-normal-colour-on-dark;
      }
    }

    --use-scroll-proxy: false;

    // Titles that are marked as being wide - i.e. longer than a certain number
    // of characters - have their responsive behaviour on narrow screens
    // switched from a max-width with auto height to a max-height based on the
    // viewport width and overflowing horizontally. This is to avoid situations
    // where the text would become uncomfortably small and difficult to read.
    @include breakpoint.on('<=project-title-height-constraint') {
      &--wide {

        width:      auto;
        max-width:  none;
        max-height: 6.5vw;

        --use-scroll-proxy: true;
        --scroll-proxy-gutter: #{layout.$gutter * 2};

        // Combine the bleed transform with the scroll proxy transform.
        transform: var(--scroll-proxy-transform) var(--bleed-transform);

      }
    }

  }

  @include colour.on-dark-colour-scheme {
    // This places a gradient behind the title in dark mode to help increase
    // contrast between the title and background a bit.
    &::before {
      @supports (width: 100vw) {
        content: '';

        position: absolute;

        left:   50%;
        top:    0;
        bottom: 0;

        width: 100vw;

        margin-left: -50vw;

        z-index: -1;

        // @link https://ambientimpact.com/web/snippets/safari-bug-with-gradients-that-fade-to-transparent
        // Explanation of why we use the background colour with zero opacity
        // instead of 'transparent'.
        background-image: linear-gradient(
          color.adjust(colour.$background-colour-dark, $alpha: -1),
          color.mix(colour.$background-colour-dark, black, 25%)
        );
      }
    }
  }

  // This adds a shadow behind the top edge of the project images field. See
  // _field_media.scss for the bottom half of the shadow. This is done to allow
  // the top shadow to not overlap the node title but appear underneath it, so
  // that it appears the site name is part of the same material as the project
  // images field bar.
  &::after {
    $shadow-element-height: 1rem;

    @include horizontal-bleed-background.top-peek-shadow(
      $z-index: list.index($stacking-order, top-shadow),
      $depth:   $full-bleed-panel-shadow-depth,
      $height:  $shadow-element-height
    );

    bottom: -$shadow-element-height;
  }
}

@include breakpoint.on('<=project-title-height-constraint') {
  .node--type-project {

    position: relative;

    .scroll-proxy-sentinel {

      // This shifts the sentinel down down far enough for a user to be able to
      // read the start of the title before it begins translating.
      top: 35vh;

      // This ensures that the end of the text is reached early enough so users
      // don't need to be too precise with their scrolling to see it.
      height: 50vh;

      // Ensures the sentinel doesn't exceed the node height.
      max-height: 100%;

      // Is this necessary?
      z-index: list.index($stacking-order, sentinel);

    }
  }
}

// Title element z-index set above the top peek shadow but below the node
// content after it.
.page-node-type-project:not(.page-node-edit) .page-title,
// We have to target the link specifically because Chrome/Blink doesn't seem to
// want to place the title above the top peek shadow unless it's a sibling of
// said shadow ::after pseudo element because reasons. Firefox/Gecko behaves as
// you would hope in this case.
.node--type-project .node__title :link {
  position: relative;

  z-index: list.index($stacking-order, title);
}

.page-node-type-project:not(.page-node-edit) .page-title,
.node--type-project .node__title {
  .field--name-title {
    // Reset the font size so that it's consistent between the node page title
    // and the node title in views.
    font-size: 100%;
  }

  // Since the title is an <svg>, we have to use CSS filters to get a drop
  // shadow that matches the title lettering outlines.

  // Drop shadow, extends downwards.
  @include material-shadow.material-shadow-filter-downward(
    $depth: $fancy-heading-shadow-depth-small
  );

  @include breakpoint.on('>=fancy-heading-shadow-depth') {
    // Drop shadow, extends downwards.
    @include material-shadow.material-shadow-filter-downward(
      $depth: $fancy-heading-shadow-depth-large
    );
  }

  .field__title-svg {
    // Drop shadow, centered to give ambient shadow effect.
    @include material-shadow.material-shadow-filter-ambient(
      $depth: $fancy-heading-shadow-depth-small
    );

    @include breakpoint.on('>=fancy-heading-shadow-depth') {
      // Drop shadow, centered to give ambient shadow effect.
      @include material-shadow.material-shadow-filter-ambient(
        $depth: $fancy-heading-shadow-depth-large
      );
    }
  }
}

.node--type-project .node__title {
  // Basically remove all line-height so that we don't get any extra space above
  // and below the heading.
  line-height: 0;

  :any-link {
    // Allows link to shrink-wrap the <svg> so that it's hitbox/clickable area
    // matches the width of the <svg> and doesn't have phantom clickable space
    // after the title ends.
    display: inline-block;

    @include link-colour.link-colours(
      $background:      colour.$background-colour-light,

      $normal-on-light: $title-link-normal-colour-on-light,
      $hover-on-light:  $title-link-hover-colour-on-light,
      $active-on-light: $title-link-active-colour-on-light,

      $normal-on-dark:  $title-link-normal-colour-on-dark,
      $hover-on-dark:   $title-link-hover-colour-on-dark,
      $active-on-dark:  $title-link-active-colour-on-dark,
    );

    @include colour.on-dark-colour-scheme {
      @include link-colour.link-colours(
        $background:      colour.$background-colour-dark,

        $normal-on-light: $title-link-normal-colour-on-light,
        $hover-on-light:  $title-link-hover-colour-on-light,
        $active-on-light: $title-link-active-colour-on-light,

        $normal-on-dark:  $title-link-normal-colour-on-dark,
        $hover-on-dark:   $title-link-hover-colour-on-dark,
        $active-on-dark:  $title-link-active-colour-on-dark,
      );
    }

  }
}

.font-loaded-furore .layout-container .node--type-project .node__title :link {
  // Undo _typography.scss
  padding-bottom: 0;
}

.node--type-project .node__content {
  position: relative;

  z-index: list.index($stacking-order, content);

  // Remove the top margin on node content.
  margin-top: 0;
}

// This re-orders the content region to place the local tasks block above the
// title, so the title is sitting directly above the top of the node.
.page-node-type-project {
  @supports (flex-direction: column) and (order: 1) {
    .region-content {
      display:        flex;
      flex-direction: column;

      .block-local-tasks-block {
        order: 1;
      }
      .block-page-title-block {
        order: 2;
      }
      // If the main content block has been placed, that will be wrapping .node,
      // so we need to target that in addition to .node (for when the block
      // isn't placed).
      .block-system-main-block,
      .node {
        order: 3;
      }
      .node__content {
        margin-top: 0;
      }
    }
  }
}

// This fades the dark colour scheme media field background from the heading
// colour to the field colour.
.field--name-field-project-media::before {
  @include colour.on-dark-colour-scheme {
    background-image: linear-gradient(
      $title-link-normal-colour-on-dark,
      motion.$easing-decelerate,
      field-media.$background-colour-on-dark
    );
  }
}
