// -----------------------------------------------------------------------------
//   Scroll bar colours
// -----------------------------------------------------------------------------

@use 'sass:color';
@use 'sass/helpers/colour';
@use '../variables/colours' as *;

// This gives scrollbars custom colours. Note that this is only supported in
// Firefox using the standard properties. Blink doesn't seem to want to apply
// ::-webkit-* properties to the viewport scrollbar, so that's left out.
//
// @see https://www.filamentgroup.com/lab/scrollbars/

///
/// The scrollbar thumb colour on light background colours.
///
/// The thumb is the moving portion of the scrollbar, that indicates the current
/// scroll position.
///
$scrollbar-thumb-colour-on-light:
  color.mix($ambientimpact-orange, colour.$background-colour-light, 80%);

///
/// The scrollbar thumb colour on dark background colours.
///
/// The thumb is the moving portion of the scrollbar, that indicates the current
/// scroll position.
///
$scrollbar-thumb-colour-on-dark:
  color.mix($ambientimpact-orange, colour.$background-colour-dark, 80%);

///
/// The scrollbar track colour on light background colours.
///
/// The track is the portion of the scrollbar that spans the full width or
/// height, along which the thumb slides.
///
$scrollbar-track-colour-on-light: color.mix(
  colour.$foreground-colour-on-light, colour.$background-colour-light, 10%
);

///
/// The scrollbar track colour on dark background colours.
///
/// The track is the portion of the scrollbar that spans the full width or
/// height, along which the thumb slides.
///
$scrollbar-track-colour-on-dark: color.mix(
  colour.$foreground-colour-on-dark, colour.$background-colour-dark, 10%
);

html {
  scrollbar-color:
    $scrollbar-thumb-colour-on-light $scrollbar-track-colour-on-light;

  @include colour.on-dark-colour-scheme {
    scrollbar-color:
      $scrollbar-thumb-colour-on-dark $scrollbar-track-colour-on-dark;
  }
}
