// -----------------------------------------------------------------------------
//  Typography partial
// -----------------------------------------------------------------------------

// This attempts to mimic the Furore font spacing, weight, and size using the
// default system font stack, to minimize the amount of shifting that occurs
// if/when Furore loads and is applied. Note that this is based on Roboto, but
// should work similarly with the other fonts in the system font stack.
#{$h1to6}, .region-primary-menu .menu {
  // Furore only has uppercase, so use that.
  text-transform: uppercase;

  // Set letter spacing to try and match the line length of Furore, before it
  // has loaded. This is done so avoid as much layout shifting as possible. This
  // assumes the default system font stack are the fallback fonts.
  letter-spacing: 0.166em;

  // Increase the weight to better match Furore, if/when it loads.
  font-weight: 700;

  .font-loaded-furore & {
    font-family: Furore, $font-stack;

    letter-spacing: 0.1em;

    // Reset the font-weight back to normal.
    font-weight: $font-weight-normal;
  }

  .font-loaded-furore .layout-container & {
    // Remove the underline crop as Furore has no descenders but the
    // underline occasionally gets cropped a bit regardless, depending on
    // the font size.
    :link, :visited {
      @include text-underline-crop(transparent);
    }
    @include abbr {
      @include text-underline-crop(transparent);
    }
  }
}

#{$h1to6} {
  //hyphens:    auto;
  line-height:  1.4;

  .nbsp {
    // Furore displays odd characters instead of a non-breaking space, so
    // use the default font stack for these instead.
    font-family:  $font-stack;
  }

  .font-loaded-furore .layout-container & {
    @mixin furore-heading-underline-adjust {
      // This adds a bit of space for the fancy underline so that it has enough
      // space between it and the text above. This doesn't affect the vertical
      // space inline elements take up, but does affect their bounding box, thus
      // enlarging it downwards. This is preferably to simply increasing the
      // underline distance, which will end up getting clipped if we have to go
      // above 100%.
      padding-bottom: 0.1em;
    }

    :link, :visited {
      @include furore-heading-underline-adjust;
    }
    @include abbr {
      @include furore-heading-underline-adjust;
    }
  }
}

@include vertical-spacing-against-previous(
  $h1to6,
  // Somewhat higher spacing than the default to visually separate headings and
  // preceding elements.
  $spacing-small: $content-item-vertical-spacing-small * 1.8,
  $spacing-large: $content-item-vertical-spacing-large * 1.8
);

h1, h2 {
  :link, :visited {
    .font-loaded-furore .layout-container & {
      // Make fancy link underlines thicker for these as they have a large
      // font size. Setting this as pixels avoids blurry rounding that
      // we'd often get with ems, etc.
      @include custom-property(
        'fancy-link-underline-thickness', 3px
      );
    }
  }
}

@include content-area {
  h2 {
    // Add a subtle border under <h2> elements in content areas to visually
    // denote their importance over <h3>s and lower level headings.
    border-bottom: 1px solid $material-line-colour;
  }

  #{$h1to6} {
    &:not(.code-highlighted__heading) {
      margin-bottom: $content-item-vertical-spacing-small;
    }
  }
}
