// -----------------------------------------------------------------------------
//   Base node preview form partial
// -----------------------------------------------------------------------------

@use '../global/layout';
@use 'material.common/material.panel' as material-panel;
@use 'material.common/material.shadow' as material-shadow;
@use 'sass/helpers/colour';
@use 'sass/variables/general';

// This styles the node preview controls as a Material panel that matches the
// base horizontal layout and adds a dark colour scheme. Note that the Stable
// theme provides the basic fixed positioning.
//
// @todo This needs to register itself as having vertical displacement so the
// page can adjust accordingly and not end up with the area under the panel as
// inaccessible.

.node-preview-container {
  padding-top:    general.$general-spacing;
  padding-bottom: general.$general-spacing;

  @include layout.container-base-horizontal;

  @include colour.set-colours(
    $background: material-panel.$background-colour-light
  );

  @include material-shadow.material-shadow(2);

  @include colour.on-dark-colour-scheme {
    @include colour.set-colours(
      $background: material-panel.$background-colour-dark-on-dark
    );

    select {
      background-color: inherit;
    }
  }
}
